<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="kr.urimal365.dao.VisitMapper">
	<insert id="setTotalCount" parameterType="Visit">
		INSERT INTO naro_log_connect_user
		(connect_agent, connect_os, connect_browser, connect_ip, connect_route, connect_date)
		VALUES(#{connectAgent}, #{connectOs}, #{connectBrowser}, #{connectIp}, #{connectRoute}, sysdate());

	</insert>

</mapper>