@font-face {
 font-family: 'nbg';
 font-style: normal;
 src: url('../font/NanumBarunGothic.eot');
 src: url('../font/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
 url('../font/NanumBarunGothic.woff') format('woff')
}

@font-face {
 font-family: 'nbgB';
 font-style: normal;
 src: url('../font/NanumBarunGothicBold.eot');
 src: url('../font/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
 url('../font/NanumBarunGothicBold.woff') format('woff')
}

body								{ overflow-x:hidden; width:100%; }
*									{ padding:0; margin:0; vertical-align:top; font-family:'nbg','nbgB', sans-serif; -webkit-text-size-adjust:none; }
img								{ border:0; }
a									{ text-decoration:none; outline:none; }
a:hover, a:focus			{ text-decoration:underline; outline:none; }
ul, ol, li							{ list-style-type:none; }