@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 700;
	src: url( //cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Bold.eot);
	src:url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Bold.eot?#iefix) format('embedded-opentype'),
	url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Bold.woff) format('woff'),
	url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Bold.ttf) format('truetype');
}
@font-face{
	font-family:'Nanum Barun Gothic';
	font-style:normal;
	font-weight:400;
	src:url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.eot);
	src:url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.eot?#iefix) format('embedded-opentype'),
	url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.woff) format('woff'),
	url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.ttf) format('truetype');
}

@media all and (min-width:1200px) {
	.mobile_br{display:none;}
	.event_wrap{width:100%; height:100%; background:url('/images/event/bg_body_event.jpg') repeat-x}
	.quiz_event_tit{position:relative; height:618px; padding-top:120px; text-align:center; background:url('/images/event/bg_event09_01.jpg') no-repeat center 12px;}
	.quiz_event_tit .bg_img{position:absolute; top:12px; left:0; display:block; width:403px; height:376px; background:url('/images/event/img_event_tit.png') no-repeat;}
	.quiz_event_tit .tit_top{font-family:'NanumSquare';}
	.quiz_event_tit p.txt{color:#000; font-size:3.571em; font-family:'Nanum Barun Gothic'; line-height:45px; font-weight:400;}
	.quiz_event_tit p.txt strong{font-weight:700;}
	.quiz_event_tit p.txt span{display:block; padding-top:15px; font-size:0.840em;}
	.quiz_event_tit .tit_top p{font-size:40px; color:#000; font-weight:bold;}
	.quiz_event_tit .tit_top span{margin:28px 0 55px; width:273px; height:52px; line-height:52px; text-align:center; display:inline-block; color:#fff; font-size:23px; background:url('/images/event/bg_tit_top.png') no-repeat;}
	.quiz_event_tit h2{padding-bottom:35px;}
	.event_cont{padding-top:112px; height:780px; text-align:center; background:url('/images/event/bg_event_cont.jpg') repeat-x center 0;}
	.event_cont h3{font-size:45px; font-weight:400; font-family:'Nanum Barun Gothic'; color:#fff; text-shadow:-3px 3px 5px rgba(0, 0, 0, 0.5);}
	.event_cont h3 .txt1{color:#ef5652;}
	.event_cont h3 .txt2{color:#edce24; font-weight:700;}
	.event_cont p{padding:15px 0 32px; color:#898a89; font-size:17px; line-height:25px; font-family:'Nanum Barun Gothic';}
	.event_cont p span{color:#fff;}
	.event_cont .ex{display:block; margin:0 auto 27px auto; width:422px; height:44px; line-height:44px; text-align:center; font-size:17px; color:#fff; font-family:'ngBold' ;background:url('/images/event/bg_event_ex.png') no-repeat;}
	.event_cont .ex span{color:#00a7ad; font-size:19px;}
	.info_txt{height:246px; background:url('/images/event/bg_info_txt.gif') repeat-x}
	.info_txt ul{padding-top:67px; width:1200px; margin:0 auto; overflow:hidden;}
	.info_txt ul li{overflow:hidden; margin:0 54px 14px 0; float:left; width:505px; height:45px; line-height:45px; background:#fff; border-radius:30px; font-family:'ngBold'; font-size:14px; letter-spacing:-1px;}
	.info_txt ul li.mr0{margin-right:0;}
	.info_txt ul li strong{padding-left:25px; display:block; width:87px; float:left; background:#393335;color:#fff;} 
	.info_txt ul li span{padding-left:15px; float:left; display:block; background:#fff; color:#596b6c; }
	.info_txt ul li.re_width1{width:290px;}
	.info_txt ul li.re_width2{width:634px;}
	.application_wrap{position:relative;}
	.quiz_text_box{height:574px; background:#fff url('/images/event/bg_text_box.gif') no-repeat center 0;}
	.quiz_text_box .inner{padding-top:86px; width:1200px; margin:0 auto;}
	.quiz_text_box .inner p.txt{padding-bottom:14px; font-size:18px; font-family:'NanumSquare'; color:#222; border-bottom:2px solid #555;}
	.quiz_text_box .inner p.txt span{color:#b2b0b0; font-size:16px;}
	.quiz_text_box textarea{padding:10px; margin-top:25px; width:1178px; height:150px; border:1px solid #d8d8d8; font-size:16px;}
	.quiz_text_box .byte{padding:5px 10px 35px 0;text-align:right;}
	.quiz_text_box .byte input{padding-right:5px; display:inline-block; width:30px; background:none; border:0; vertical-align:middle; text-align:right;}
	.quiz_text_box .byte span{display:inline-block; vertical-align:middle;}
	.quiz_text_box .btn{display:block; margin:0 auto; width:432px; height:74px; line-height:74px; text-align:center;  color:#fff; background:#c2012e; font-size:23px;font-family:'NanumSquare'; font-weight:bold; box-shadow: 2px 2px #1b201f;}
	
	.quiz_popup .popup_btns{padding-top:20px;}
	.quiz_popup .quiz_input:first-child{padding-top:30px;}

	.win_area{position:relative; width:1200px; margin:0 auto;}
	.win_area .tbl_wrap{padding-top:54px; width:760px; height:465px; margin:0 auto; background:url('/images/event/bg_win_txt.png') no-repeat;}
	.win_area .tbl_wrap table{width:80%; margin:0 auto;}
	.win_area .tbl_wrap table th{padding:12px 3px; color:#393335; font-size:15px; font-family:'Nanum Barun Gothic'; font-weight:700; background:url('/images/event/bg_tbl_dot.png') repeat-x 0 100%;}
	.win_area .tbl_wrap table td{padding:5px 0 5px 20px; color:#393335; text-align:left; font-size:15px; font-family:'Nanum Barun Gothic'; font-weight:700;}
	.win_area .tbl_wrap table tr:first-child td{padding-top:15px;}

	.win_area .character1{position:absolute; top:50%; left:0; margin-top:-104px;}
	.win_area .character2{position:absolute; top:50%; right:0; margin-top:-134px;}

	.win_area .pc_tbl{display:block;}
	.win_area .mobile_tbl{display:none;}
	.mobile_br{display:none;}

}

@media all and (min-width:641px) and (max-width:1199px) {
	.event_wrap{width:100%; height:100%; background:url('/images/event/bg_body_event.jpg') repeat-x; background-size:100%;}
	.quiz_event_tit{position:relative; width:100%; padding:0 22%; box-sizing:border-box; height:550px; padding-top:80px; text-align:center; background:url('/images/event/bg_event09_01.jpg') no-repeat center 18px; background-size:110%;}
	.quiz_event_tit .bg_img{position:absolute; top:5px; left:0; display:block; width:150px; height:140px; background:url('/images/event/img_event_tit.png') no-repeat; background-size:150px 140px;}
	.quiz_event_tit .tit_top{font-family:'NanumSquare';}
	.quiz_event_tit p.txt{color:#000; font-size:28px; font-family:'ngBold'; line-height:24px;}
	.quiz_event_tit p.txt span{display:block; padding-top:10px; font-size:23px;  line-height:25px;}
	.quiz_event_tit .tit_top p{font-size:30px; color:#000; font-weight:bold;}
	.quiz_event_tit .tit_top span{margin:18px 0 25px; width:180px; height:34px; line-height:34px; text-align:center; display:inline-block; color:#fff; font-size:16px; background:url('/images/event/bg_tit_top.png') no-repeat; background-size:180px 34px;}
	.quiz_event_tit h2{padding-bottom:25px;}
	.event_cont{padding:70px 0 35px; text-align:center; background:#1e221f url('/images/event/bg_event_cont.jpg') repeat-x center 0; background-size:cover;}
	.event_cont h3{font-size:30px; font-weight:normal; font-family:'ngBold'; color:#fff; text-shadow:-3px 3px 5px rgba(0, 0, 0, 0.5);}
	.event_cont .cont_box{padding:0 30px;}
	.event_cont h3 .txt1{color:#ef5652;}
	.event_cont h3 .txt2{color:#edce24;}
	.event_cont p{padding:15px 0 18px; color:#898a89; font-size:15px; line-height:25px;}
	.event_cont p span{color:#fff;}
	.event_cont .ex{display:block; margin:0 auto 27px auto; width:422px; height:44px; line-height:44px; text-align:center; font-size:15px; color:#fff; font-family:'ngBold' ;background:url('/images/event/bg_event_ex.png') no-repeat;}
	.event_cont .ex span{color:#00a7ad; font-size:17px;}
	.info_txt{height:100%; background:#dadada url('/images/event/bg_info_txt.gif') repeat-x;  background-size:cover;}
	.info_txt ul{padding:30px 30px 15px 30px; width:100%; margin:0 auto; overflow:hidden; box-sizing:border-box;}
	.info_txt ul li{overflow:hidden; margin:0 0 14px 0; float:left; width:100%; height:45px; line-height:45px; background:#fff; border-radius:30px; font-family:'ngBold'; font-size:13px; letter-spacing:-1px;}
	.info_txt ul li strong{padding-left:20px; display:block; width:71px; float:left; background:#393335;color:#fff;} 
	.info_txt ul li span{padding-left:15px; float:left; display:block; background:#fff; color:#596b6c; }
	.application_wrap{position:relative;}
	.quiz_text_box{height:100%; background:#fff url('/images/event/bg_text_box.gif') no-repeat center 0; background-size:100%;}
	.quiz_text_box .inner{padding:65px 15px; width:100%; margin:0 auto; box-sizing:border-box;}
	.quiz_text_box .inner p.txt{padding-bottom:14px; font-size:18px; line-height:20px;font-family:'NanumSquare'; color:#222; border-bottom:2px solid #555;}
	.quiz_text_box .inner p.txt span{color:#b2b0b0; font-size:16px;}
	.quiz_text_box textarea{padding:10px; margin-top:25px; width:100%; height:150px; border:1px solid #d8d8d8; font-size:16px; box-sizing:border-box;}
	.quiz_text_box .byte{padding:5px 10px 35px 0;text-align:right;}
	.quiz_text_box .byte input{padding-right:5px; display:inline-block; width:30px; background:none; border:0; vertical-align:middle; text-align:right;}
	.quiz_text_box .byte span{display:inline-block; vertical-align:middle;}
	.quiz_text_box .btn{display:block; margin:0 auto; width:365px; height:60px; line-height:60px; text-align:center;  color:#fff; background:#c2012e; font-size:20px;font-family:'NanumSquare'; font-weight:bold; box-shadow: 2px 2px #1b201f;}
	
	.quiz_popup .popup_btns{padding-top:20px;}
	.quiz_popup .quiz_input:first-child{padding-top:30px;}

	.win_area{position:relative; width:100%; margin:0 auto;}
	.win_area .tbl_wrap{padding-top:30px; width:650px; height:398px; margin:0 auto; background:url('/images/event/bg_win_txt.png') no-repeat; background-size:650px 398px;}
	.win_area .tbl_wrap table{width:80%; margin:0 auto;}
	.win_area .tbl_wrap table th{padding:12px 3px; color:#393335; font-size:14px; font-family:'Nanum Barun Gothic'; font-weight:700; background:url('/images/event/bg_tbl_dot.png') repeat-x 0 100%;}
	.win_area .tbl_wrap table td{padding:3px 0 3px 20px; color:#393335; text-align:left; font-size:14px; font-family:'Nanum Barun Gothic'; font-weight:700;}
	.win_area .tbl_wrap table tr:first-child td{padding-top:10px;}

	.win_area .character1{position:absolute; width:150px; top:50%; left:-75px; margin-top:75px;}
	.win_area .character2{position:absolute; width:136px; top:50%; right:-75px; margin-top:28px;}

	.win_area .pc_tbl{display:block;}
	.win_area .mobile_tbl{display:none;}
	.mobile_br{display:none;}

}

@media all and (max-width:640px) {
	.mobile_br{display:block;}
	.event_wrap{width:100%; height:100%; background:url('/images/event/bg_body_event.jpg') repeat-x; background-size:130%;}
	.quiz_event_tit{position:relative; width:100%;  box-sizing:border-box;  padding:50px 5% 45px; text-align:center; background:url('/images/event/bg_event09_01.jpg') no-repeat center 53px; background-size:130%;}
	.quiz_event_tit .bg_img{position:absolute; top:3px; left:0; display:block; width:100px; height:94px; background:url('/images/event/img_event_tit.png') no-repeat; background-size:100px 94px;}
	.quiz_event_tit .tit_top{font-family:'NanumSquare';}
	.quiz_event_tit p.txt{color:#000; font-size:20px;  line-height:20px; letter-spacing:-1px;}
	.quiz_event_tit p.txt span{display:block; padding-top:10px; font-size:18px;  line-height:20px;}
	.quiz_event_tit .tit_top p{font-size:20px; color:#000; font-weight:bold;}
	.quiz_event_tit .tit_top span{margin:18px 0 30px; width:158px; height:30px; line-height:30px; text-align:center; display:inline-block; color:#fff; font-size:14px; background:url('/images/event/bg_tit_top.png') no-repeat; background-size:158px 30px;}
	.quiz_event_tit h2{padding:0 5% 30px 5%;}
	.event_cont{padding:45px 0 30px; height:100%; text-align:center; background:#1e221f url('/images/event/bg_event_cont.jpg') repeat-x center 0; background-size:100%;}
	.event_cont h3{font-size:20px; line-height:28px; font-weight:normal; font-family:'ngBold'; color:#fff; text-shadow:-3px 3px 5px rgba(0, 0, 0, 0.5);}
	.event_cont .cont_box{padding:0 10px;}
	.event_cont h3 .txt1{color:#ef5652;}
	.event_cont h3 .txt2{color:#edce24;}
	.event_cont p{padding:10px 0 15px; color:#898a89; font-size:13px; line-height:20px;}
	.event_cont p span{color:#fff;}
	.event_cont .ex{display:block; margin:0 auto 27px auto; width:280px; height:30px; line-height:30px; text-align:center; font-size:14px; color:#fff; font-family:'ngBold' ;background:url('/images/event/bg_event_ex.png') no-repeat; background-size:280px 30px;}
	.event_cont .ex span{color:#00a7ad; font-size:16px;}
	.info_txt{position:relative; height:100%; background:#dadada url('/images/event/bg_info_txt.gif') repeat-x; background-size:cover;}
	.info_txt ul{padding:30px 15px; width:100%; margin:0 auto; overflow:hidden; box-sizing:border-box;}
	.info_txt ul li{overflow:hidden; margin:0 0 14px 0; width:100%; height:40px; background:#fff; border-radius:30px; font-family:'ngBold'; font-size:12px; letter-spacing:-1px;}
	.info_txt ul li strong{height:40px; line-height:40px; display:inline-block; width:18%; text-align:center; background:#393335;color:#fff;} 
	.info_txt ul li span{padding:13px 0 0 5px; display:inline-block; width:80%; background:#fff; color:#596b6c; letter-spacing:-1px;}
	/* .info_txt ul li span em{position:absolute; bottom:25px; right:10px;} */
	.info_txt ul li:last-child strong{position:relative; top:-9px;}
	.info_txt ul li:last-child span{padding-top:5px; line-height:16px;}


	
	.quiz_text_box{height:100%; background:#fff url('/images/event/bg_text_box.gif') no-repeat center 0; background-size:100%;}
	.application_wrap_m{position:relative;}
	.quiz_text_box .inner{height:100%; padding:35px 15px; width:100%; margin:0 auto; box-sizing:border-box;}
	.quiz_text_box .inner p.txt{padding-bottom:14px; font-size:16px; line-height:20px; font-family:'NanumSquare'; color:#222; line-height:18px; border-bottom:2px solid #555;}
	.quiz_text_box .inner p.txt span{color:#b2b0b0; font-size:16px;}
	.quiz_text_box textarea{padding:10px; margin-top:25px; width:100%; height:150px; border:1px solid #d8d8d8; font-size:16px; box-sizing:border-box;}
	.quiz_text_box .byte{padding:5px 10px 35px 0;text-align:right;}
	.quiz_text_box .byte input{padding-right:5px; display:inline-block; width:30px; background:none; border:0; vertical-align:middle; text-align:right;}
	.quiz_text_box .byte span{display:inline-block; vertical-align:middle;}
	.quiz_text_box .btn{display:block; margin:0 auto; width:100%; height:60px; line-height:60px; text-align:center;  color:#fff; background:#c2012e; font-size:20px;font-family:'NanumSquare'; font-weight:bold; box-shadow: 2px 2px #1b201f;}
	
	.quiz_popup .popup_btns{padding-top:20px;}
	.quiz_popup .quiz_input:first-child{padding-top:30px;}

	.win_area{position:relative; width:100%; margin:0 auto;}
	.win_area .tbl_wrap{padding-top:30px; width:100%; height:100%; margin:0 auto; background:url('/images/event/bg_win_txt_01.png') no-repeat 0 0; background-size:100%;}
	.win_area .m_wrap{padding-bottom:19px; background:url('/images/event/bg_win_txt_02.png') no-repeat 0 100%; background-size:100%;}
	.win_area .m_tbl_wrap{padding:0 30px; background:url('/images/event/bg_tbl_win.png') repeat-y 0 0; background-size:100%;}
	.win_area .tbl_wrap table{width:100%; margin:0 auto; }
	.win_area .tbl_wrap table th{padding:12px 3px; color:#393335; font-size:13px; font-family:'Nanum Barun Gothic'; font-weight:700; background:url('/images/event/bg_tbl_dot.png') repeat-x 0 100%;}
	.win_area .tbl_wrap table td{padding:5px 0 5px 10px; color:#393335; text-align:left; font-size:13px; font-family:'Nanum Barun Gothic'; font-weight:700;}
	.win_area .tbl_wrap table tr:first-child td{padding-top:10px;}
	.win_area .tbl_wrap table tr td:first-child{text-align:center; padding-left:0;}

	.win_area .character1{position:absolute; width:80px; top:-132px; left:15px;}
	.win_area .character2{position:absolute; width:66px; top:-140px; right:15px;}

	.win_area .pc_tbl{display:none;}
	
	


}


