@media all and (min-width:1200px) {

	.quiz_body_event {background:#2a2a2a}
	.quiz_event_bg {background:url('/images/quiz_event/bg_quiz_evnet.jpg') no-repeat top center;}
	.quiz_tit {padding:100px 0 50px 0; background:url("/images/quiz_event/bg_quiz_tit.png") no-repeat center center; text-align:center;}
	.quiz_body_wrap {position:relative; width:1040px; margin:0 auto 50px auto; padding:30px 30px 15px 30px; background:url("/images/quiz_event/bg_event.jpg") no-repeat; background-size:100% 100%; border:8px solid #654a45; border-radius:12px; box-sizing:border-box; transition: all 0.1s ease-in;}
	.quiz_body_wrap.bg_start {background:url("/images/quiz_event/bg_event_start.jpg") no-repeat; background-size:100% 100%;}
	.quiz_body_wrap .quiz_wait .wait_tit {font-size:42px; line-height:1.2; letter-spacing:-1px; font-weight:normal;}
	.quiz_body_wrap .quiz_wait .wait_tit * {font-weight:normal;}
	.quiz_body_wrap .quiz_wait .wait_tit strong {font-weight:bold;}
	.quiz_body_wrap .quiz_board {padding:50px 30px 30px 30px;}
	.quiz_body_wrap .time_limit dt {color:#525252;}
	.quiz_body_wrap .scoreboard dt {color:#525252;}
	.quiz_body_wrap .question .txt {width:90%; margin:0 auto 50px auto; color:#493532;}
	.quiz_popup.result .quiz_popup_inner {width:600px; height:250px; margin:-125px 0 0 -300px; padding:20px;}
	.quiz_readme dl dd {line-height:1.5;}

}

@media all and (min-width:641px) and (max-width:1199px) {
	
	.quiz_body_event {background:#2a2a2a}
	.quiz_event_bg {background:url('/images/quiz_event/bg_quiz_evnet.jpg') no-repeat top center;}
	.quiz_tit {background:url("/images/quiz_event/bg_quiz_tit.png") no-repeat center center; text-align:center;}
	.quiz_body_wrap {background:url("/images/quiz_event/bg_event.jpg") no-repeat; background-size:100% 100%; border:8px solid #654a45; border-radius:12px; box-sizing:border-box; transition: all 0.1s ease-in;}
	.quiz_body_wrap.bg_start {background:url("/images/quiz_event/bg_event_start.jpg") no-repeat; background-size:100% 100%;}
	.quiz_body_wrap .quiz_wait .wait_tit {line-height:1.2; letter-spacing:-1px; font-weight:normal;}
	.quiz_body_wrap .quiz_wait .wait_tit * {font-weight:normal;}
	.quiz_body_wrap .quiz_wait .wait_tit strong {font-weight:bold;}
	.quiz_body_wrap .time_limit dt {color:#525252;}
	.quiz_body_wrap .scoreboard dt {color:#525252;}
	.quiz_body_wrap .question .txt {width:90%; margin:0 auto 50px auto; color:#493532;}
	.quiz_popup.result .quiz_popup_inner {height:250px; margin:-125px 0 0 -300px; padding:20px;}
	.quiz_readme dl dd {line-height:1.5;}
	.quiz_body_wrap .quiz_wait a {display:inline-block; width:240px}

}

@media all and (max-width:640px) {
	
	.quiz_tit div {width:75%;}
	.quiz_body_event {background:#2a2a2a}
	.quiz_event_bg {background:url('/images/quiz_event/bg_quiz_evnet.jpg') no-repeat top center; background-size:cover}
	.quiz_tit {background:url("/images/quiz_event/bg_quiz_tit.png") no-repeat center center; text-align:center;}
	.quiz_body_wrap {background:url("/images/quiz_event/bg_event.jpg") no-repeat; background-size:100% 100%; border:8px solid #654a45; border-radius:12px; box-sizing:border-box; transition: all 0.1s ease-in;}
	.quiz_body_wrap.bg_start {background:url("/images/quiz_event/bg_event_start.jpg") no-repeat; background-size:100% 100%;}
	.quiz_body_wrap .quiz_wait .wait_tit {line-height:1.2; letter-spacing:-1px; font-weight:normal;}
	.quiz_body_wrap .quiz_wait .wait_tit * {font-weight:normal;}
	.quiz_body_wrap .quiz_wait .wait_tit strong {font-weight:bold;}
	.quiz_body_wrap .time_limit dt {color:#525252;}
	.quiz_body_wrap .scoreboard dt {color:#525252;}
	.quiz_body_wrap .question .txt {color:#493532;}
	.quiz_readme dl dd {line-height:1.5;}

}


