.w_1094						{ max-width:1094px; margin:0 auto; overflow:hidden; position:relative; text-align:center; }
.w_994							{ max-width:994px; margin:0 auto; overflow:hidden; position:relative; text-align:center; }

.fl									{ float:left; }
.fr									{ float:right; }
.tc									{ text-align:center; }

.contentWrap>div img		{ width:auto; max-width:100%; }

.topBox1_1						{ border:1px solid #c3cce3; background:#ecf1fc; }
.topBox1_1 .oneTxt			{ width:128px; height:128px; padding:42px 0 0; text-align:center; color:#fff; font-size:20px; background:url(../img/sub/oneBg1.png) 0 0 no-repeat; display:inline-block; position:absolute; top:10px; left:10px; }
.topBox1_1 .oneTxt strong			{ display:block; }
.topBox1_1 .topBoxTxt		{ width:538px; padding:88px 0 0; background:url('../img/sub/sub1_bg1.png') 0 0 no-repeat; }
.topBox1_1 .tit1				{ padding:0 50px; display:block; font-size:40px; color:#333; font-weight:normal; padding:0 0 10px; }
.topBox1_1 .tit2				{ padding:0 50px; display:block; font-size:40px; color:#333; padding:0 0 20px; }
.topBox1_1 .txt				{ padding:0 50px; display:block; font-size:16px; color:#5b6989; line-height:170%; }

.wtit									{ display:block; padding:0 0 15px; font-size:25px; color:#333; text-align:left; }
.htit									{ display:block; padding:0 0 15px; font-size:25px; color:#333; text-align:left; }
.htit span							{ display:block; padding:5px 0 0; }
.text									{ display:block; font-size:17px; color:#333; line-height:170%; text-align:left; }

.absTxt								{ position:absolute; top:0; left:0; text-align:center; padding:32px 225px; }
.absTxt strong					{ color:#fff; font-size:28px; padding:10px 0; display:block; }
.absTxt strong span			{ display:block; font-size:70px; color:#fff; height:28px; padding:10px 0; }
.absTxt>span					{ font-size:17px; color:#fff; line-height:170%; }

.crossBg							{ background:url(../img/sub/crossBg.png) 0 0 repeat; padding:30px; }

.sns									{ text-align:center; padding:0 0 58px; }

.sub1_1							{ margin-bottom:70px }
.sub1_2							{ margin-bottom:40px; }
.sub1_3							{ margin-bottom:50px; }
.sub1_3 .htit					{ margin:25px 0 0; }
.sub1_4							{ margin-bottom:63px; }
.sub1_5							{ margin-bottom:58px; }


.reple								{ border-top:2px solid #aaa; padding:50px 146px 50px 196px; max-width:754px; margin:0 auto; position:relative; }
.reple .tit							{ position:absolute; top:50px; left:9px; }
.reple textarea					{ width:100%; height:119px; box-sizing:border-box; border:1px solid #ccc; padding:10px; }
.reple button					{ border:0; cursor:pointer; width:111px; height:119px; line-height:119px; text-align:center; background:#f89bc7; color:#fff; font-size:16px; display:block; position:absolute; top:50px; right:12px; }

.reportList						{ background:#2a4d6b; padding:0 0 80px; position:relative; }
.reportList .reportViewBt	{ position:absolute; top:-22px; left:50%; margin-left:-22.5px; }
.reportList .report			{ padding:50px 0 0; max-width:1140px; margin:0 auto; overflow:hidden; }
.reportList .report .tit		{ text-align:center; color:#fff; font-weight:bold; font-size:30px; padding:0 0 25px; position:relative; }
.reportList .report .tit a	{ position:absolute; top:0; right:20px; display:inline-block; height:29px; line-height:30px; text-align:center; padding:0 16px; color:#f7f7f7; border:1px solid #d4dbe1; font-size:14px; font-weight:normal; text-decoration:none; }

.reLis								{ margin:0 auto; }
.reLis .slick-slide				{ margin:0 10px; }
.reLis .slick-list					{ width:auto; max-width:100%; }
.reLis .reCont					{ width:203px; margin:0 auto; border:1px solid #c0c0c0; background:#fff; display:block; }
.reLis .reCont img				{ width:203px; height:130px !important; }
.reLis .reCont span			{ display:block; padding:15px; font-size:16px; color:#292929; height:38px; }

/* �꽌釉� 由ъ뒪�듃 �럹�씠吏� �뒪���씪 */
.listStyle							{ max-width:1220px; margin:0 auto; padding:0 0 110px; }
.listStyle p.title					{ padding:98px 0 50px; text-align:center; font-size:32px; color:#666; position:relative; }
.listStyle p.title strong		{ font-size:32px; color:#000; }
.listStyle p.title:after		{ width:60px; height:1px; background:#2c2e32; content:''; position:absolute; bottom:0; left:50%; margin-left:-30px; }
.listStyle ul						{ width:100%; display:inline-block; margin:60px 0 0; }
.listStyle ul li						{ width:25%; float:left; box-sizing:border-box; padding:10px; margin:0 0 30px; }
.listStyle ul li>div				{ display:block; background:#fff; padding:10px; position:relative; }
.listStyle ul li>div .img		{ margin-bottom:25px; position:relative; }
.listStyle ul li>div .img img				{ width:100%; }
.listStyle ul li>div .img .bg					{  }
.listStyle ul li>div .img .photo			{ position:absolute; top:0; left:0; width:100%; }
.listStyle ul li>div .cont		{ padding:10px 0 10px 10px; }
.listStyle ul li>div .cont .cate				{ display:block; font-size:13px; color:#666; }
.listStyle ul li>div .cont .tit				{ display:block; height:52px; font-size:15px; color:#2e2e2e; padding:6px 0 8px; font-weight:normal; }
.listStyle ul li>div .cont .day				{ display:block; font-size:13px; color:#666; text-align:right; }
.listStyle ul li>div .layer					{ display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../img/sub/listLayerBg.png) 0 0 repeat; }
.listStyle ul li>div .layer a					{ display:inline-block; position:absolute; top:50%; left:50%; margin:-37.5px -37.5px; }
.listStyle ul li>div:hover .layer			{ display:block; }

.lazyLoadBt						{ display:block; height:55px; background:#fff; text-align:center; margin:0 10px; color:#333; text-decoration:none; }
.lazyLoadBt span				{ line-height:55px; padding:0 0 0 16px; background:url(../img/sub/moreBul.png) 0 50% no-repeat; font-size:15px; color:#333; }

.daySel								{ display:block; text-align:center; margin:50px 0 0; }
.daySel select					{ height:24px; border:1px solid #707070; color:#555; font-size:14px; }
.daySel span					{ height:24px; line-height:24px; color:#555; font-size:14px; }
.daySel button					{ width:47px; height:24px; background:#2c2e32; line-height:25px; color:#fff; text-align:center; border:0; border-radius:2px; }

.botCon							{ max-width:1197px; margin:0 auto 10px; }
.botCon .inner					{ padding:0 0 0 430px; position:relative; }
.botCon .inner .eventBanner	{ width:400px; position:absolute; top:0; left:0; }
.botCon .inner .ask					{ width:100%; height:304px; box-sizing:border-box; border:1px solid #d4bea7; display:inline-block; background:#fff1e7; }
.botCon .inner .ask p				{ width:50%; height:304px; float:left; box-sizing:border-box; }
.botCon .inner .ask p.left			{ border-right:1px solid #d4bea7; background:url(../img/main/botConBg1.png) 100% 98% no-repeat; }
.botCon .inner .ask p.right		{ background:url(../img/main/botConBg2.png) 100% 98% no-repeat; }
.botCon .inner .ask p strong			{ display:block; padding:34px 0 0 93px; height:46px; font-size:23px; color:#252525; }
.botCon .inner .ask p span				{ display:block; padding:0 0 10px 51px; color:#252525; font-size:17px; line-height:140%; }
.botCon .inner .ask p a					{ font-size:15px; color:#c18800; font-weight:bold; padding:0 0 0 51px; }

.quick								{ position:fixed; top:160px; left:50%; z-index:101; margin-left:570px; }
.quick a							{ display:block; text-align:center; }

.post_body {max-width:815px; margin:0 auto;}

.reple_old							{ border-top:2px solid #aaa; padding:50px 0; max-width:1066px; margin:0 auto; position:relative; }

/* 포스트 타이틀 비주얼 */
.post_visual_tit {position:relative; display:table; width:60%; padding:0 20%; height:450px; background-size:cover !important; margin-bottom:30px; margin-top:-40px; }
.post_visual_tit:after {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url("/images/common/bg_pattern.png") repeat; z-index:99;
	filter: alpha(opacity=25);  /* IE 5-7 */
	-moz-opacity: 0.25;          /* Netscape */
	-khtml-opacity: 0.25;        /* Safari 1.x */
	opacity: 0.25;               /* Good browsers */
}
.post_visual_tit h2 {position:relative; display:table-cell;  font-family:'NanumSquare'; text-align:center; vertical-align:middle; color:#fff; line-height:1.3; letter-spacing:2px; z-index:100; text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);}
.post_visual_tit h2 em {display:block; font-size:18px; font-weight:normal;}
.post_visual_tit h2 em:after {content:''; display:block; width:60px; margin:0 auto 15px auto; padding:14px 0 0 0; border-bottom:1px solid #fff;}
.post_visual_tit h2 .tit {font-size:46px;}

/* 포스트 서브 타이틀 */
.post_sub_tit {padding:90px 0; border-bottom:1px solid #cbcbcb;}
.post_sub_tit h3 {font-size:38px; font-family:'NanumSquare'; font-weight:normal; text-align:center; color:#333;}

.event_reply					{ max-width:1066px; overflow:hidden; margin:0 auto; }

@media screen and (max-width:1300px) and (min-width:801px) {
	.fl									{ float:none; }
	.fr									{ float:none; }

	.contentWrap>div		{ margin-left:auto; margin-right:auto; }
	.contentWrap>div img		{ width:auto; max-width:100%; }

	.contentWrap .topBox1_1						{ padding:0; margin-left:auto; margin-right:auto; }
	.contentWrap .topBox1_1 .topBoxTxt	{ width:100%; padding:30px 0; background:none; display:block; }
	.contentWrap .topBox1_1 img				{ width:100%; margin:0; }

	.wtit									{ display:block; padding:0 0 20px; font-size:25px; color:#333; }
	.htit									{ display:block; padding:0 0 20px; font-size:25px; color:#333; }
	.htit span							{ display:inline; padding:5px 0 0; }
	.text									{ display:block; font-size:17px; color:#333; line-height:150%; text-align:left; }

	.absTxt								{ position:static; text-align:center; padding:20px 0px; }
	.absTxt strong					{ color:#333; font-size:28px; padding:10px 0; display:block; }
	.absTxt strong span			{ display:block; font-size:70px; color:#333; height:28px; padding:10px 0; }
	.absTxt>span					{ font-size:17px; color:#333; line-height:150%; }

	.contentWrap .reple						{ border-top:2px solid #aaa; padding:50px 146px 50px 196px; max-width:754px; margin:0 auto; position:relative; }
	.contentWrap .reple .tit				{ position:absolute; top:50px; left:9px; }
	.contentWrap .reple textarea		{ width:100%; height:119px; box-sizing:border-box; border:1px solid #ccc; padding:10px; }
	.contentWrap .reple button			{ border:0; cursor:pointer; width:111px; height:119px; line-height:119px; text-align:center; background:#f89bc7; color:#fff; font-size:16px; display:block; position:absolute; top:50px; right:12px; }

	.crossBg							{ background:url(../img/sub/crossBg.png) 0 0 repeat; padding:40px 0; }

	.sns									{ text-align:center; padding:0 0 18px; }
	.sns img							{ margin:0; }

	.sub1_1							{ margin-bottom:49px }
	.sub1_2							{ margin-bottom:29px; }
	.sub1_3							{ margin-bottom:30px; }
	.sub1_3 img						{ margin-bottom:30px; }
	.sub1_4							{ margin-bottom:37px; }
	.sub1_5							{ margin-bottom:40px; }
	.sub1_5 img						{ margin:30px 0 0; }

	.reportList						{ padding:0 0 40px; position:relative; }
	.reportList .report			{ padding:25px 0 0; }

	/* �꽌釉� 由ъ뒪�듃 �럹�씠吏� �뒪���씪 */
	.listStyle							{ padding:0 0 80px; }
	.listStyle p.title					{ padding:68px 0 20px; }
	.listStyle p.title:after		{ width:40px; margin-left:-20px; }
	.listStyle ul						{ margin:40px 0 0; }
	.listStyle ul li						{ width:33.333333333333333333333333%;margin:0 0 20px; }
	.listStyle ul li>div .img		{ margin-bottom:20px; }



	.botCon							{ max-width:1197px; margin:0 30px 10px; }
	.botCon .inner					{ padding:0 0 0 430px; position:relative; }
	.botCon .inner .eventBanner	{ width:400px; position:absolute; top:0; left:0; }
	.botCon .inner .ask					{ width:100%; height:304px; box-sizing:border-box; border:1px solid #d4bea7; display:inline-block; background:#fff1e7; }
	.botCon .inner .ask p				{ width:100%; height:152px; float:left; box-sizing:border-box; }
	.botCon .inner .ask p.left			{ border-bottom:1px solid #d4bea7; border-right:0; background:url(../img/main/botConBg1.png) 100% 96% no-repeat; background-size:auto 90px; }
	.botCon .inner .ask p.right		{ background:url(../img/main/botConBg2.png) 100% 96% no-repeat; background-size:auto 90px; }
	.botCon .inner .ask p strong			{ display:block; padding:34px 0 0 32px; height:46px; font-size:23px; color:#252525; }
	.botCon .inner .ask p span				{ display:none; }
	.botCon .inner .ask p a					{ font-size:15px; color:#c18800; font-weight:bold; padding:0 0 0 32px; }

	.quick								{ position:fixed; top:160px; right:30px; left:inherit; z-index:101; margin-left:0; }
	.quick a							{ display:block; text-align:center; }


	/* 포스트 타이틀 비주얼 */
	.post_visual_tit {position:relative; display:table; width:70%; padding:0 15%; height:250px; background-size:cover !important; margin-bottom:20px;}
	.post_visual_tit:after {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url("/images/common/bg_pattern.png") repeat; z-index:99;
		filter: alpha(opacity=25);  /* IE 5-7 */
		-moz-opacity: 0.25;          /* Netscape */
		-khtml-opacity: 0.25;        /* Safari 1.x */
		opacity: 0.25;               /* Good browsers */
	}
	.post_visual_tit h2 {position:relative; display:table-cell; font-size:30px; font-family:'NanumSquare'; text-align:center; vertical-align:middle; color:#fff; line-height:1.3; letter-spacing:2px; z-index:100; text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);}
	.post_visual_tit h2 em {display:block; font-size:18px; font-weight:normal;}
	.post_visual_tit h2 em:after {content:''; display:block; width:60px; margin:0 auto 15px auto; padding:14px 0 0 0; border-bottom:1px solid #fff;}
	.post_visual_tit h2 .tit {font-size:30px;}

	/* 포스트 서브 타이틀 */
	.post_sub_tit {padding:50px 0; border-bottom:1px solid #cbcbcb;}
	.post_sub_tit h3 {font-size:26px; font-family:'NanumSquare'; font-weight:normal; text-align:center; color:#333;}
}

@media screen and (max-width:800px) and (min-width:641px) {
	.fl									{ float:none; }
	.fr									{ float:none; }

	.contentWrap				{ padding:20px 0 15px; }
	.contentWrap>div		{ margin-left:12px; margin-right:12px; }
	.contentWrap>div img		{ width:auto; max-width:100%; }

	.topBox1_1 .topBoxTxt		{ width:100%; padding:15px 0; background:none; display:block; }
	.contentWrap .topBox1_1 img				{ width:100%; margin:0; }
	.topBox1_1 .tit1				{ padding:0 25px; font-size:25px; padding:0 0 5px; }
	.topBox1_1 .tit2				{ padding:0 25px; font-size:25px; padding:0 0 10px; }
	.topBox1_1 .txt				{ padding:0 25px; font-size:17px; }


	.wtit									{ display:block; padding:0 0 8px; font-size:22px; color:#333; }
	.htit									{ display:block; padding:0 0 8px; font-size:22px; color:#333; }
	.htit span							{ display:inline; padding:3px 0 0; }
	.text									{ display:block; font-size:17px; color:#333; line-height:170%; text-align:left; }

	.absTxt								{ position:static; text-align:center; padding:10px 0px; }
	.absTxt strong					{ color:#333; font-size:24px; padding:5px 0; display:block; }
	.absTxt strong span			{ display:block; font-size:35px; color:#333; height:28px; padding:5px 0; }
	.absTxt>span					{ font-size:17px; color:#333; line-height:170%; }

	.crossBg							{ padding:12px; }

	.sns									{ text-align:center; padding:0 0 38px; }

	.sub1_1							{ margin-bottom:29px }
	.sub1_2							{ margin-bottom:19px; }
	.sub1_3							{ margin-bottom:30px; }
	.sub1_3 img						{ margin-bottom:30px; }
	.sub1_4							{ margin-bottom:37px; }
	.sub1_5							{ margin-bottom:38px; }
	.sub1_5 img						{ margin:30px 0 0; }

	.contentWrap .reple						{ border-top:2px solid #aaa; padding:5px 102px 25px 12px; max-width:950px; margin:0 auto; position:relative; }
	.contentWrap .reple .tit				{ position:static; height:89px; }
	.contentWrap .reple .tit img			{ height:69px; }
	.contentWrap .reple textarea		{ width:100%; height:69px; box-sizing:border-box; border:1px solid #ccc; padding:10px; }
	.contentWrap .reple button			{ border:0; cursor:pointer; width:80px; height:69px; line-height:69px; text-align:center; background:#f89bc7; color:#fff; font-size:16px; display:block; position:absolute; top:94px; right:12px; }

	.reportList						{ padding:0 0 20px; position:relative; }
	.reportList .report			{ padding:25px 0 0; }
	.reportList .report .tit		{ text-align:center; color:#fff; font-weight:bold; font-size:20px; padding:0 0 15px; }

	/* �꽌釉� 由ъ뒪�듃 �럹�씠吏� �뒪���씪 */
	.listStyle							{ padding:0 0 50px; }
	.listStyle p.title					{ padding:48px 0 10px; }
	.listStyle p.title:after		{ width:30px; margin-left:-15px; }
	.listStyle ul						{ margin:20px 0 0; }
	.listStyle ul li						{ width:50%;margin:0 0 10px; padding:5px; }
	.listStyle ul li>div				{ padding:5px; }
	.listStyle ul li>div .img		{ margin-bottom:20px; }

	.daySel								{ margin:20px 0 0; }



	.botCon							{ max-width:1197px; margin:0; }
	.botCon .inner					{ padding:0; position:relative; }
	.botCon .inner .eventBanner	{ width:auto; position:static; text-align:center; margin:0 12px 30px; }
	.botCon .inner .eventBanner img			{ width:auto; max-width:100%; }

	.botCon .inner .ask					{ width:100%; height:auto; box-sizing:border-box; border:1px solid #d4bea7; border-right:0; border-left:0; display:inline-block; background:#fff1e7; }
	.botCon .inner .ask p				{ width:100%; height:120px; float:left; box-sizing:border-box; }
	.botCon .inner .ask p.left			{ border-bottom:1px solid #d4bea7; border-right:0; background:url(../img/main/botConBg1.png) 100% 96% no-repeat; background-size:auto 90px; }
	.botCon .inner .ask p.right		{ background:url(../img/main/botConBg2.png) 100% 96% no-repeat; background-size:auto 90px; }
	.botCon .inner .ask p strong	{ display:block; padding:24px 0 0 22px; height:46px; font-size:23px; color:#252525; }
	.botCon .inner .ask p span		{ display:none; }
	.botCon .inner .ask p a			{ font-size:15px; color:#c18800; font-weight:bold; padding:0 0 0 22px; }

	.quick								{ position:fixed; top:inherit; bottom:12px; right:12px; left:inherit; z-index:101; margin-left:0; }
	.quick a							{ display:block; text-align:center; }

	/* 포스트 타이틀 비주얼 */
	.post_visual_tit {position:relative; display:table; width:70%; padding:0 15%; height:250px; background-size:cover !important; margin-bottom:20px; margin-top:0; }
	.post_visual_tit:after {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url("/images/common/bg_pattern.png") repeat; z-index:99;
		filter: alpha(opacity=25);  /* IE 5-7 */
		-moz-opacity: 0.25;          /* Netscape */
		-khtml-opacity: 0.25;        /* Safari 1.x */
		opacity: 0.25;               /* Good browsers */
	}
	.post_visual_tit h2 {position:relative; display:table-cell; font-size:30px; font-family:'NanumSquare'; text-align:center; vertical-align:middle; color:#fff; line-height:1.3; letter-spacing:2px; z-index:100; text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);}
	.post_visual_tit h2 em {display:block; font-size:18px; font-weight:normal;}
	.post_visual_tit h2 em:after {content:''; display:block; width:60px; margin:0 auto 15px auto; padding:14px 0 0 0; border-bottom:1px solid #fff;}
	.post_visual_tit h2 .tit {font-size:30px;}

	/* 포스트 서브 타이틀 */
	.post_sub_tit {padding:50px 0; border-bottom:1px solid #cbcbcb;}
	.post_sub_tit h3 {font-size:26px; font-family:'NanumSquare'; font-weight:normal; text-align:center; color:#333;}
}
@media screen and (max-width:640px) {
	.fl									{ float:none; }
	.fr									{ float:none; }

	.contentWrap>div		{ margin-left:12px; margin-right:12px; }
	.contentWrap>div img		{ width:auto; max-width:100%; }

	.topBox1_1 .topBoxTxt		{ width:100%; padding:15px 0; background:none; display:block; }
	.contentWrap .topBox1_1 img				{ width:100%; margin:0; }
	.topBox1_1 .tit1				{ padding:0 25px; font-size:25px; padding:10px 0 5px; }
	.topBox1_1 .tit2				{ padding:0 25px; font-size:25px; padding:0 0 15px; }
	.topBox1_1 .txt				{ padding:0 25px; font-size:17px; }


	.wtit									{ display:block; padding:0 0 8px; font-size:22px; color:#333; }
	.htit									{ display:block; padding:0 0 8px; font-size:22px; color:#333; }
	.htit span							{ display:inline; padding:3px 0 0; }
	.text									{ display:block; font-size:17px; color:#333; line-height:170%; text-align:left; }

	.absTxt								{ position:static; text-align:center; padding:10px 0px; }
	.absTxt strong					{ color:#333; font-size:24px; padding:5px 0; display:block; }
	.absTxt strong span			{ display:block; font-size:35px; color:#333; height:28px; padding:5px 0; }
	.absTxt>span					{ font-size:17px; color:#333; line-height:170%; }

	.crossBg							{ padding:12px; }

	.sns									{ text-align:center; padding:0 0 38px; }

	.sub1_1							{ margin-bottom:29px }
	.sub1_2							{ margin-bottom:19px; }
	.sub1_3							{ margin-bottom:30px; }
	.sub1_3 img						{ margin-bottom:30px; }
	.sub1_4							{ margin-bottom:37px; }
	.sub1_5							{ margin-bottom:38px; }
	.sub1_5 img						{ margin:30px 0 0; }

	.contentWrap .reple						{ border-top:2px solid #aaa; padding:5px 102px 25px 12px; max-width:950px; margin:0 auto; position:relative; }
	.contentWrap .reple .tit				{ position:static; height:89px; }
	.contentWrap .reple .tit img			{ height:69px; }
	.contentWrap .reple textarea		{ width:100%; height:69px; box-sizing:border-box; border:1px solid #ccc; padding:10px; }
	.contentWrap .reple button			{ border:0; cursor:pointer; width:80px; height:69px; line-height:69px; text-align:center; background:#f89bc7; color:#fff; font-size:16px; display:block; position:absolute; top:94px; right:12px; }

	.reportList						{ padding:0 0 35px; position:relative; }
	.reportList .report			{ padding:35px 0 0; }
	.reportList .report .tit		{ text-align:center; color:#fff; font-weight:bold; font-size:20px; padding:0 0 15px; }
	.reportList .report .tit a	{ right:10px; padding:0 10px; font-size:12px; height:24px; line-height:26px; top:-2px; }

	/* �꽌釉� 由ъ뒪�듃 �럹�씠吏� �뒪���씪 */
	.listStyle							{ padding:0 0 50px; }
	.listStyle p.title					{ padding:48px 0 10px; }
	.listStyle p.title:after		{ width:30px; margin-left:-15px; }
	.listStyle ul						{ margin:20px 0 0; }
	.listStyle ul li						{ width:100%;margin:0 0 10px; padding:5px; }
	.listStyle ul li>div				{ padding:5px; }
	.listStyle ul li>div .img		{ margin-bottom:20px; }
	.listStyle ul li>div .cont .tit		{ height:auto; }

	.daySel										{ margin:20px 0 0; }
	.daySel span.selN					{ width:100%; display:inline-block; height:1px; line-height:1px; overflow:hidden; text-indent:-9999px; }


	.botCon							{ max-width:1197px; margin:0; }
	.botCon .inner					{ padding:0; position:relative; }
	.botCon .inner .eventBanner	{ width:auto; position:static; text-align:center; margin:0 12px 30px; }
	.botCon .inner .eventBanner img			{ width:auto; max-width:100%; }

	.botCon .inner .ask					{ width:100%; height:auto; box-sizing:border-box; border:1px solid #d4bea7; border-right:0; border-left:0; display:inline-block; background:#fff1e7; }
	.botCon .inner .ask p				{ width:100%; height:120px; float:left; box-sizing:border-box; }
	.botCon .inner .ask p.left			{ border-bottom:1px solid #d4bea7; border-right:0; background:url(../img/main/botConBg1.png) 100% 96% no-repeat; background-size:auto 90px; }
	.botCon .inner .ask p.right		{ background:url(../img/main/botConBg2.png) 100% 96% no-repeat; background-size:auto 90px; }
	.botCon .inner .ask p strong	{ display:block; padding:24px 0 0 22px; height:46px; font-size:23px; color:#252525; }
	.botCon .inner .ask p span		{ display:none; }
	.botCon .inner .ask p a			{ font-size:15px; color:#c18800; font-weight:bold; padding:0 0 0 22px; }

	.quick								{ position:fixed; top:inherit; bottom:12px; right:12px; left:inherit; z-index:101; margin-left:0; }
	.quick a							{ display:block; text-align:center; }


	/* 포스트 타이틀 비주얼 */
	.post_visual_tit {position:relative; display:table; width:70%; padding:0 15%; height:200px; background-size:cover !important; margin-bottom:20px; margin-top:0; }
	.post_visual_tit:after {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url("/images/common/bg_pattern.png") repeat; z-index:99;
		filter: alpha(opacity=25);  /* IE 5-7 */
		-moz-opacity: 0.25;          /* Netscape */
		-khtml-opacity: 0.25;        /* Safari 1.x */
		opacity: 0.25;               /* Good browsers */
	}
	.post_visual_tit h2 {position:relative; display:table-cell; font-size:24px; font-family:'NanumSquare'; text-align:center; vertical-align:middle; color:#fff; line-height:1.3; letter-spacing:2px; z-index:100; text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);}
	.post_visual_tit h2 em {display:block; font-size:16px; font-weight:normal;}
	.post_visual_tit h2 em:after {content:''; display:block; width:60px; margin:0 auto 10px auto; padding:9px 0 0 0; border-bottom:1px solid #fff;}
	.post_visual_tit h2 .tit {font-size:24px;}

	/* 포스트 서브 타이틀 */
	.post_sub_tit {padding:35px 0; border-bottom:1px solid #cbcbcb;}
	.post_sub_tit h3 {font-size:20px; font-family:'NanumSquare'; font-weight:normal; text-align:center; color:#333;}
}



