@media all and (min-width:960px) and (max-width:1199px) {

	body {padding:70px 0 0 0; background:#f2f2f2;}
	body.display_banner {padding:160px 0 0 0;}

	/* 메인 상단 배너 */
	.sub .main_top_banner {display:none;}
	.main_top_banner {width:100%; height:90px; background:#003667;}
	.main_top_banner_inner {position:relative; height:100%; margin:0 auto; text-align:center;}
	.main_top_banner_inner img {vertical-align:bottom}
	.main_top_banner_inner .btn_close {position:absolute; top:0; right:0; display:none;}

	/* 헤더 */
	.header {position:fixed; top:0; left:0; width:100%; background:#1a1a1a; z-index:9999;}
	.header h1 {}
	.header h1 a {display:block; padding:16px 15px 16px 15px; font-size:16px; color:#fff; text-align:center; letter-spacing:-1px;}
	.header h1 a * {vertical-align:middle;}
	.header_main {position:relative; width:auto !important;}

	/* 헤더 메뉴 */
	.header_menu_wrap {display:none; width:100%; position:absolute; top:70px; left:0;}
	.header_menu {height:500px; overflow:scroll; -webkit-overflow-scrolling:touch;}
	.header_menu > li {}
	.header_menu > li > a {display:block; padding:10px 0; border-left:1px solid #333; font-size:14px; color:#fff; text-align:center; font-weight:bold; letter-spacing:-1px;}
	.header_menu > li.menu01 a {background:#faab00;}
	.header_menu > li.menu02 a {background:#ee6462;}
	.header_menu > li.menu03 a {background:#8bc958;}
	.header_menu > li.menu04 a {background:#6c85f1;}
	.header_menu .two_depth {text-align:center;}
	.header_menu .two_depth li a {display:block; padding:10px 0; background:rgba(26, 26, 26, 0.8); border-bottom:1px solid #333; font-size:14px; color:#fff;}
	.header_menu .two_depth li:last-of-type a {border:0;}
	
	/* 헤더 기타 버튼 */
	.header_etc {border-left:1px solid #333;}
	.header_etc li {display:table; float:left; width:70px; height:70px;}
	.header_etc li a {display:table-cell; width:70px; height:70px; font-size:26px; font-weight:bold; color:#fff; text-align:center; vertical-align:middle;}
	.header_etc li.btn_facebook {display:none;}
	.header_etc li.btn_twitter {display:none;}
	.header_etc li.btn_blog {display:none;}
	.header_etc li.btn_search_open {position:absolute; bottom:0; left:0;}
	.header_etc li.btn_search_close {display:none; position:absolute; bottom:0; left:0; background:#333;}
	.header_etc li.btn_sitemap_open {position:absolute; bottom:0; right:0;}
	.header_etc li.btn_sitemap_close {display:none; position:absolute; bottom:0; right:0; background:#333;}
	
	/* 사이트맵 */
	.sitemap_wrap {display:none; position:absolute; top:-70px; left:0; width:100%; padding:0 !important; background:#333; z-index:9999;}
	.sitemap > li {padding:10px; border-bottom:1px solid #222;}
	.sitemap > li > a {display:block; margin:0 0 10px 0; font-size:16px;}
	.sitemap .two_depth li {margin:0 0 5px 0;}
	
	/* 통합검색 */
	.total_search {display:none; position:absolute; bottom:-66px; left:0; width:100%; background:#333; padding:20px; text-align:left; z-index:9999; box-sizing:border-box;}
	.total_search input[type='text'] {width: calc(100% - 40px); height:20px; margin:0 5px 0 0; padding:3px; border:0; background:none; font-size:15px;  color:#fff;}
	.total_search button {font-size:26px; color:#fff;}

	/* 패밀리사이트 */
	.family_site {background:#1a1a1a;}
	.family_site_inner {overflow:hidden;}
	.family_site_inner li {float:left; width:20%;}
	.family_site_inner li a {display:block; padding:20px 0; border-left:1px solid #333; text-align:center; color:#909195; font-size:14px; letter-spacing:-1px;}
	.family_site_inner li.last a {border-right:1px solid #333;}

	/* 푸터 */
	.footer {background:#282b31;}
	.footer .footer_inner {padding:15px; overflow:hidden;}
	.footer .footer_logo {margin:0 0 15px 0;}
	.footer .site_info {color:#909195;}
	.footer .site_info address {margin:0 0 10px 0;}
	.footer .site_info .copyright {margin:0 0 10px 0;}
	.footer .site_info dl {margin:0 0 5px 0; overflow:hidden;}
	.footer .site_info dl dt {float:left; margin:0 3px 0 0;}
	.footer .site_info dl dd {float:left;}

	/* 컨텐츠 */
	.contents {padding:0 15px 50px 15px;}
	.post_body {width:815px; margin:0 auto;}

	/* 리스트 제목 */
	.list_tit {padding:50px 0 0 0; text-align:center; font-size:32px; font-family:'NanumSquare'; color:#666;}
	.list_tit:after {content:''; display:block; width:60px; margin:0 auto 25px auto; padding:24px 0 0 0; border-bottom:1px solid #2c2e32;}
	.list_tit strong {color:#000;}

	/* 기간별 리스트 */
	.date_control {margin:0 0 50px 0; text-align:center; font-size:24px; line-height:26px; font-family:'NanumSquare'; color:#666;}
	.date_control * {vertical-align:middle; line-height:1;}
	.date_control strong {color:#000;}
	.date_control a {margin:0 10px; color:#000;}

	/* 탭메뉴 */
	.tab_menu {margin:0 0 50px 0; border:1px solid #eee; border-right:0; overflow:hidden;}
	.tab_menu.five li {float:left; width:20%; text-align:center;}
	.tab_menu.three li {float:left; width:50%; text-align:center;}
	.tab_menu li a {position:relative; display:block; padding:25px 0; background:#fff; border-right:1px solid #eee; font-size:16px; color:#1a1a1a; font-family:'NanumSquare';}
	.tab_menu li i {position:absolute; top:50%; left:25px; margin:-12px 0 0 0; font-size:24px; line-height:1;}
	.tab_menu li.on a {background:#2c2e32; color:#fff;}

	/* 포스트 리스트 */
	.post_list {margin:0 -10px 10px -10px; *zoom:1;}
	.post_list:after {content:""; display:block; clear:both;}
	.post_list li {position:relative; float:left; width:33.3%; padding:10px; box-sizing:border-box;}
	.post_list li a {position:relative; display:block; padding:10px; background:#fff;}
	.post_list li .photo {margin:0 0 10px 0;}
	.post_list li .photo img {display:block; width:100%;}
	.post_list li .info {padding:10px;}
	.post_list li .sub_category {margin:0 0 5px 0; color:#666;}
	.post_list li .tit {height:45px; margin:0 0 5px 0; color:#2e2e2e; font-size:15px; line-height:1.5;}
	.post_list li .sns {}
	.post_list li .view_count {position:absolute; bottom:20px; right:20px; color:#787878;}
	.post_list li .view_count i {font-size:16px;}
	.section01 .post_list .sub_category {color:#faab00;}
	.section02 .post_list .sub_category {color:#ee6462;}
	.section03 .post_list .sub_category {color:#8bc958;}
	.section04 .post_list .sub_category {color:#6c85f1;}
	.section02 .post_list li {position:relative; float:left; width:25%; padding:10px; box-sizing:border-box;}

	/* 포스트 더보기 버튼 */
	.btn_post_more a {display:block; background:#fff; padding:20px; font-size:15px; text-align:center; color:#2e2e2e;}

	/* 포스트 타이틀 비주얼 */
	.post_visual_tit {position:relative; display:table; width:70%; padding:0 15%; height:250px; background-size:cover !important;}
	.post_visual_tit:after {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url("/images/common/bg_pattern.png") repeat; z-index:99;
		filter: alpha(opacity=25);  /* IE 5-7 */
		-moz-opacity: 0.25;          /* Netscape */
		-khtml-opacity: 0.25;        /* Safari 1.x */
		opacity: 0.25;               /* Good browsers */
	}
	.post_visual_tit h2 {position:relative; display:table-cell; font-family:'NanumSquare'; text-align:center; vertical-align:middle; color:#fff; line-height:1.3; letter-spacing:2px; z-index:100; text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);}
	.post_visual_tit h2 em {display:block; font-size:18px; font-weight:normal;}
	.post_visual_tit h2 em:after {content:''; display:block; width:60px; margin:0 auto 15px auto; padding:14px 0 0 0; border-bottom:1px solid #fff;}
	.post_visual_tit h2 .tit {font-size:30px;}


	/* 포스트 서브 타이틀 */
	.post_sub_tit {padding:50px 0; border-bottom:1px solid #cbcbcb;}
	.post_sub_tit h3 {font-size:26px; font-family:'NanumSquare'; font-weight:normal; text-align:center; color:#333;}

	/* 포스트 이전글 다음글 */
	.post_control {position:relative; margin:-22px 0 80px 0; z-index:999;}
	.post_control a {display:inline-block; padding:10px 15px; background:#333; color:#fff; font-size:20px; text-align:center;}
	.post_control a * {vertical-align:middle;}
	.post_control a span {margin:0 15px; font-size:16px;}
	.post_control .prev {position:absolute; top:50%; right:50%; margin:0 1px 0 0;}
	.post_control .next {position:absolute; top:50%; left:50%;}

	/* 다른 포스트 이동 */
	.other_posts {overflow:hidden;}
	.other_posts li {float:left; width:33.3%;}
	.other_posts li:last-of-type {width:33.4%;}
	.other_posts li a {display:block; padding:15px 0; background:#d9d9d9; font-size:14px; line-height:18px; text-align:center; color:#333; letter-spacing:-1px;}
	.other_posts li a * {vertical-align:middle;}
	.other_posts li a i {font-size:18px;}
	.other_posts li.top a {background:#a6a6a6;}

	/* 최근 포스트 목록 */
	.recent_posts_wrap {padding:50px 0; background:#f2f2f2; border-bottom:1px solid #e6e6e6}
	.recent_posts_list {padding:0 15px;}
	.recent_posts_list .recent_posts_tit {margin:0 0 40px 0; text-align:center; font-size:21px; font-family:'NanumSquare'; color:#666;}
	.recent_posts_list .recent_posts_tit strong {color:#000;}
	.recent_posts_list .list {margin:0 -10px; *zoom:1;}
	.recent_posts_list .list:after {content:""; display:block; clear:both;}
	.recent_posts_list .list li {position:relative; float:left; width:20%; padding:10px; box-sizing:border-box;}
	.recent_posts_list .list li a {display:block; color:#2e2e2e; font-size:13px;}
	.recent_posts_list .list li a div {margin:0 0 5px 0;}
	.recent_posts_list .list .tit {display: -webkit-box; height:34px; color:#666; line-height:1.3; white-space: normal; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
	.recent_posts_list .list .tit span {white-space: normal !important;}

	/* 메인 비주얼 영역 */
	.main_visual_wrap {position:relative;}
	.main_visual {}
	.main_visual li {width:100%; height:500px; background-size:cover !important}
	.main_visual li:after {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url("/images/common/bg_pattern.png") repeat; z-index:99;
		filter: alpha(opacity=25);  /* IE 5-7 */
		-moz-opacity: 0.25;          /* Netscape */
		-khtml-opacity: 0.25;        /* Safari 1.x */
		opacity: 0.25;               /* Good browsers */
	}
	.main_visual li .txt {display:table; width:100%; height:100%; font-family:'NanumSquare'; color:#fff; z-index:100;}
	.main_visual li .txt > div {display:table-cell; width:100%; height:100%; text-align:center; vertical-align:middle;}
	.main_visual li .txt em {display:block; font-size:36px; font-weight:normal; text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);}
	.main_visual li .txt em:after {content:''; display:block; width:60px; margin:0 auto 30px auto; padding:29px 0 0 0; border-bottom:4px solid #fff;}
	.main_visual li .txt .tit {display:block; margin:0 0 35px 0; padding:0 20%; font-size:64px; line-height:1.3; text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);}
	.main_visual li .txt a {position:relative; display:block; width:250px; margin:0 auto; padding:15px; font-size:16px; font-weight:bold; border:1px solid #fff; color:#fff; border-radius:2px; z-index:999;}
	.main_visual li .txt a i {position:absolute; top:50%; right:15px; margin:-8px 0 0 0;}
	.main_visual_control {}
	.main_visual_control div {position:relative; color:#fff; font-size:16px;}
	.main_visual_control div * {vertical-align:middle;}
	.main_visual_control div span {margin:0 5px;}
	.main_visual_control div a {position:absolute; top:0; left:0; display:block; width:100%; height:100%;}
	.main_visual_control .main_visual_prev {position:absolute; top:50%; left:40px; margin:-20px 0 0 0; z-index:999;}
	.main_visual_control .main_visual_next {position:absolute; top:50%; right:40px; margin:-20px 0 0 0; z-index:999;}

	/* 메인 포스트 탭 */
	.main_post_tab {position:relative; height:216px; overflow:hidden;}
	.main_post_tab > ul {text-align:center;}
	.main_post_tab > ul > li {float:left; width:50%;}
	.main_post_tab > ul > li > a {display:block; padding:15px 0; color:#fff; font-size:16px; font-weight:bold; font-family:'NanumSquare'; text-align:center;}
	.main_post_tab .tab01 > a {background:#ee6462;} 
	.main_post_tab .tab02 > a {background:#4875db;}
	.main_post_tab .tab01 .two_depth {display:block;}
	.main_post_tab .two_depth {position:absolute; top:46px; left:0; display:none; width:100%; background:#ccc; z-index:999;}
	.main_post_tab .two_depth li {padding:10px; overflow:hidden;}
	.main_post_tab .two_depth li a {display:block; text-align:center; vertical-align:middle;}
	.main_post_tab .two_depth li a .photo img {display:none;}
	.main_post_tab .two_depth li a .txt {}
	.main_post_tab .two_depth li a .tit {float:left;}
	.main_post_tab .two_depth li a .view_count {float:right;}
	.main_post_tab .tab_close {display:none !important;}

	/* 메인 섹션별 스타일 */
	.section01 .post_list .big .sub_category {color:#faab00;}
	.section02 .post_list .big .sub_category {color:#ee6462;}
	.section03 .post_list .big .sub_category {color:#8bc958;}
	.section04 .post_list .big .sub_category {color:#6c85f1;}
	
	.main_section {padding:50px 0;}

	.main_section.section01 {}
	.main_section.section02 {background:url("/images/main/bg_section02.jpg") no-repeat center center; background-size:cover;}
	.main_section.section03 {}
	.main_section.section04 {background:url("/images/main/bg_section04.jpg") no-repeat center center; background-size:cover;}
	
	.main_section.section01 .section_tit strong {color:#2c2e32;}
	.main_section.section02 .section_tit strong {color:#ee6462;}
	.main_section.section03 .section_tit strong {color:#2c2e32;}
	.main_section.section04 .section_tit strong {color:#6c85f1;}

	.main_section.section01 .section_tit a {border:1px solid #2c2e32; color:#2c2e32;}
	.main_section.section02 .section_tit a {border:1px solid #ee6462; color:#ee6462; background:url("/images/main/ico_plus_red.png") no-repeat center center;}
	.main_section.section03 .section_tit a {border:1px solid #2c2e32; color:#2c2e32;}
	.main_section.section04 .section_tit a {border:1px solid #6c85f1; color:#6c85f1; background:url("/images/main/ico_plus_blue.png") no-repeat center center;}

	.main_section .section_tit {margin:0 0 50px 0; text-align:center;}
	.main_section .section_tit strong {display:block; margin:0 0 40px 0; font-size:48px; font-family:'Nanum Myeongjo' !important; color:#2c2e32}
	.main_section .section_tit a {display:inline-block; width:46px; height:46px; background:url("/images/main/ico_plus.png") no-repeat center center; text-indent:-9999px;}

	.main_section_inner {padding:0 15px;}

	/* 수직 슬라이드 포스트 */
	.vertical_slider_post_wrap {background:#fff; overflow:hidden;}
	.vertical_slider_post_wrap .bx-wrapper {float:left; width:calc(100% - 29px) !important;}
	.vertical_slider_post li {padding:20px;}
	.vertical_slider_post li a {display:block; font-size:16px; color:#2e2e2e; overflow:hidden;}
	.vertical_slider_post li a .rank {float:left; width:10px; height:10px; margin:0 10px 0 0; padding:3px 4px 5px 4px; color:#fff; border-radius:10px; text-align:center; font-size:12px;}
	
	.main_section.section01 .vertical_slider_post li a .rank {background:#faab00;} 
	.main_section.section02 .vertical_slider_post li a .rank {background:#ee6462;} 
	.main_section.section03 .vertical_slider_post li a .rank {background:#8bc958;} 
	.main_section.section04 .vertical_slider_post li a .rank {background:#6c85f1;} 

	.vertical_slider_post li a .sub_category {float:left; margin:0 5px 0 0;}
	.vertical_slider_post li a .tit {float:left;}
	.vertical_slider_post li a .view_count {float:right; color:#787878; font-size:14px;}

	.vertical_slider_control {float:right;}
	.vertical_slider_control div {position:relative; padding:7px; border:1px solid #e6e6e6;}
	.vertical_slider_control div span {display:none;}
	.vertical_slider_control div i {}
	.vertical_slider_control div a {position:absolute; top:0; left:0; display:block; width:100%; height:100%;}

	/* 한글 맞춤법 */
	.hangle_spelling {margin:0 0 25px 0; padding:25px; background:#fff url("/images/main/bg_hangle_spelling.png") no-repeat right top; text-align:center; box-sizing:border-box;}
	.hangle_spelling a {display:block;}
	.hangle_spelling .sub_category {display:inline-block; margin:0 0 25px 0; padding:0 0 13px 0; border-bottom:2px solid #3ac286; color:#3ac286; font-size:14px;}
	.hangle_spelling .tit {margin:0 0 25px 0; font-size:28px; font-weight:bold; line-height:1.3; letter-spacing:-1px; color:#2e2e2e;}
	.hangle_spelling .tit strong {color:#3ac286;}
	.hangle_spelling p {font-size:15px; color:#2a2d32; line-height:1.3;}

	/* 우리말 달인 */
	.urimal_quiz {position:relative; margin:0 0 25px 0; padding:0 25px 25px 25px; background:url("/images/quiz/bg_quiz01.png") repeat; box-sizing:border-box; overflow:hidden;}
	.urimal_quiz:after {content:''; display:block; width:100%; height:100%; position:absolute; top:0; left:0; background:url("/images/quiz/bg_quiz_tit.png") no-repeat center center; background-size:100%;}
	.urimal_quiz .tit {width:100px; height:110px; padding:36px 0 0 0; font-size:20px; background:url("/images/main/tit_urimal_quiz.png") no-repeat; text-align:center; color:#282b31;}
	.urimal_quiz .status {margin:0 0 25px 0; font-size:44px; font-weight:bold; letter-spacing:-1px; color:#fdb813;}
	.urimal_quiz .status  strong {color:#3ac286;}
	.urimal_quiz p {margin:0 0 25px 0; font-size:17px; line-height:1.3; color:#e9e9e9;}
	.urimal_quiz a {position:relative; display:block; width:240px; margin:0 0 25px 0; padding:15px 0; background:#fdb813; border-radius:24px; text-align:center; color:#fff; font-size:18px; font-weight:bold; letter-spacing:-1px; z-index:999;}
	.urimal_quiz .head {position:absolute; bottom:-100px; right:-25px}
	.urimal_quiz .head img {display:block;}

	/* 우리말 갈무리 소식*/
	.word_posts {overflow:hidden;}
	.word_posts li {position:relative; float:left; width:32%; margin:0 2% 0 0; background:#fff;}
	.word_posts li:after {position:absolute; top:10px; right:10px; content:''; display:block; width:27px; height:27px; background:url("/images/main/ico_plus02.png") no-repeat;}
	.word_posts li a {display:block; height:100%; text-align:center; }
	.word_posts li .tit_wrap {display:table; width:100%; height:150px;}
	.word_posts li .tit_wrap .tit {display:table-cell; font-size:22px; color:#fff; line-height:1.3; vertical-align:middle;}
	.word_posts li .sub_category {padding:15px 0; background: rgba(0, 0, 0, 0.6); color:#fff;}
	.word_posts .type01 {background:#1bb1e6 url("/images/main/bg_word_posts.png") no-repeat bottom left;}
	.word_posts .type02 {background:#c4b37b url("/images/main/bg_word_posts.png") no-repeat bottom left;}
	.word_posts .type03 {background:#3ac286 url("/images/main/bg_word_posts.png") no-repeat bottom left; float:right; margin:0;}

	/* 국립국어원 소식지 신청 원고 응모 */
	.application {background:url("/images/main/bg_application.gif") repeat-y center top;}
	.application_innner {overflow:hidden;}
	.application_innner li {float:left; width:50%;}
	.application_innner li a {display:block; padding:25px;}
	.application_innner li .tit {margin:0 0 15px 0; font-size:26px; color:#fff; font-weight:bold;}
	.application_innner li p {font-size:14px; color:#fff; line-height:1.3; letter-spacing:-1px;}
	.application_innner li.left {text-align:right; background:url("/images/main/img_application_left.png") no-repeat 10% top; background-size:140px;}
	.application_innner li.right {text-align:left; background:url("/images/main/img_application_right.png") no-repeat 90% bottom; background-size:120px;}
	
	.quiz_body {background:url("/images/quiz/bg_quiz01.png") repeat;}

	/* 우리말 달인 타이틀 */
	.quiz_tit {padding:100px 0; background:url("/images/quiz/bg_quiz_tit.png") no-repeat center center; text-align:center;}
	.quiz_tit strong {display:block; margin:0 0 25px 0; font-size:45px; font-family:'NanumSquare'; color:#fdb813; letter-spacing:-1px; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);}
	.quiz_tit div {margin:0 0 50px 0;}
	.quiz_tit p {color:#e9e9e9; font-size:18px; line-height:1.5; color:#fff; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);}
	
	/* 퀴즈 풀이 전체 영역 */
	.quiz_body_wrap {position:relative; margin:0 20px 20px 20px; padding:20px 20px 10px 20px; background:url("/images/quiz/bg_wood.jpg") no-repeat; background-size:100% 100%; border:8px solid #654a45; border-radius:12px; box-sizing:border-box; transition: all 0.1s ease-in;}
	.quiz_body_wrap * {transition: all 0.1s ease-in;}
	.quiz_body_wrap .quiz_wait {text-align:Center;}
	.quiz_body_wrap .quiz_wait .wait_tit {margin:0 0 30px 0; font-weight:bold; font-size:46px; letter-spacing:-2px; color:#493532; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);}
	.quiz_body_wrap .quiz_wait p {margin:0 0 30px 0; font-size:20px; letter-spacing:-1px; color:#4d4b4b;}
	.quiz_body_wrap .quiz_wait a {}
	.quiz_body_wrap .mascot01 {position:absolute; top:-25%; left:-20px; z-index:-1; width:160px;}
	.quiz_body_wrap .mascot02 {position:absolute; top:-35%; right:-20px; z-index:-1; width:150px;}
	.quiz_body_wrap .status {margin:0 0 30px 0; font-size:20px; color:#513c38; letter-spacing:-2px; text-align:center; font-weight:bold;}
	.quiz_body_wrap .status strong {color:#202020; letter-spacing:-1px;}
	.quiz_body_wrap .quiz_board {margin:0 0 15px 0; padding:30px; background:url("/images/quiz/bg_quiz_board.png") no-repeat; background-size:100% 100%;}
	.quiz_body_wrap .question {text-align:center;}
	.quiz_body_wrap .question .type {margin:0 0 30px 0; font-size:24px; letter-spacing:-1px; color:#322522;}
	.quiz_body_wrap .question .txt {margin:0 0 60px 0; font-weight:bold; font-size:34px; letter-spacing:-2px; line-height:1.3; color:#493532; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);} 
	.quiz_body_wrap .question .txt strong {color:#be5b5a; text-decoration:underline;}
	.quiz_body_wrap .answer {margin:0 0 20px 0; text-align:center; overflow:hidden;}
	.quiz_body_wrap .answer > div {width:33%;}
	.quiz_body_wrap .answer .o {float:left; cursor: pointer;}
	.quiz_body_wrap .answer .x {float:left; cursor: pointer;}
	.quiz_body_wrap .time_limit {float:left; width:33%; padding:10px 0 0 0; vertical-align:top; box-sizing:border-box;}
	.quiz_body_wrap .time_limit dt {margin:0 0 30px 0; font-size:24px; font-weight:bold; letter-spacing:-2px; color:#fff; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);}
	.quiz_body_wrap .time_limit dd {width:124px; margin:0 auto; padding:0 5px; text-align:Center;}
	.quiz_body_wrap .time_limit dd img {max-width:100%;}
	.quiz_body_wrap .scoreboard {width:100%; text-align:center; clear:both;}
	.quiz_body_wrap .scoreboard dt {margin:0 0 15px 0; font-size:24px; font-weight:bold; letter-spacing:-2px; color:#fff; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);}
	.quiz_body_wrap .scoreboard dd span {display:inline-block; width:10px; height:10px; margin:0 1px; background:url("/images/quiz/bg_empty.png") no-repeat; background-size:10px !important;}
	.quiz_body_wrap .ico span {display:inline-block; width:10px; height:10px; margin:0 1px; background:url("/images/quiz/bg_empty.png") no-repeat; background-size:10px !important;}
	.quiz_body_wrap .ico .correct {background:url("/images/quiz/bg_correct.png") no-repeat !important; background-size:10px !important;}
	.quiz_body_wrap .ico .incorrect {background:url("/images/quiz/bg_incorrect.png") no-repeat !important; background-size:10px !important;}
	.quiz_body_wrap .quiz_bottom_txt {overflow:hidden; text-align:right;}
	.quiz_body_wrap .quiz_bottom_txt .tips {margin:0 0 5px 0; color:#26292f; font-size:14px; letter-spacing:-1px; font-weight:bold;}
	.quiz_body_wrap .quiz_bottom_txt .score_info {font-size:12px;}
	.quiz_body_wrap .quiz_bottom_txt .score_info * {vertical-align:middle; color:#26292f;}
	.quiz_body_wrap .quiz_bottom_txt .score_info span {display:inline-block; width:10px; height:10px; margin:0 1px; background:url("/images/quiz/bg_empty.png") no-repeat; background-size:10px !important;}
	.quiz_body_wrap .blue {color:#5aafb3;}
	.quiz_body_wrap .red {color:#be5b5a;}

	/* 퀴즈 팝업 */ 
	.quiz_popup {position:absolute; top:0; left:0; width:100%; height:100%; background:url("/images/quiz/bg_50per.png") repeat; opacity:0; z-index:-1; text-align:center;}
	.quiz_popup_inner {position:absolute; top:50%; left:50%; width:280px; height:280px; margin:-140px 0 0 -140px; background:#fff; border:4px solid #654a45; border-radius:12px; box-sizing:border-box; overflow:hidden;}
	.quiz_popup.result .quiz_popup_inner {left:0; top:0; width:100%; height:100%; margin:0; padding:10px;}
	.quiz_popup.application .quiz_popup_inner {left:0; top:0; width:100%; height:100%; margin:0; padding:10px; text-align:left;}
	.quiz_popup.explanation .quiz_popup_inner {left:0; top:0; width:100%; height:100%; margin:0; padding:10px; text-align:left; border:0; border-radius:0;}
	.quiz_popup.show {opacity:1; z-index:2;}
	.quiz_popup .ox_tit {display:block; padding:30px 0; font-size:26px; color:#282b31; letter-spacing:-2px;}
	.quiz_popup .mascot {margin:0 0 15px 0;}
	.quiz_popup .mascot img {width:200px;}
	.quiz_popup .popup_logo {text-align:left; width:73px;}
	.quiz_popup .popup_score {margin:0 0 15px 0; font-size:16px; font-weight:bold; letter-spacing:-2px; color:#282b31; text-decoration:underline;}
	.quiz_popup .result_txt {margin:0 0 15px 0; font-size:16px; font-weight:bold; line-height:1.3; letter-spacing:-1px; color:#282b31;}
	.quiz_popup .blue {color:#0c4da2;}
	.quiz_popup .red {color:#f86969;}
	.quiz_popup .popup_btns {text-align:center;}
	.quiz_popup .popup_btns button {display:inline-block; margin:0 0 5px 0; padding:8px 10px 10px 10px; background:#787878; text-align:center; color:#fff; font-size:13px; letter-spacing:-1px; border-radius:4px;}
	.quiz_popup .popup_btns button:hover {background:#000;}
	.quiz_popup .popup_btns button.facebook {background:#3b5999;}
	.quiz_popup .popup_btns button.facebook:hover {background:#3b5999;}
	.quiz_popup .popup_btns button i {display:inline-block; margin:0 2px 0 0; font-size:13px;}
	.quiz_popup .popup_btns button * {vertical-align:middle;}
	.quiz_popup .quiz_input {margin:10px 0 0 0; overflow:hidden;}
	.quiz_popup .quiz_input dt {float:left; width:25%; padding:5px 0 0 0; color:#666; font-size:13px; letter-spacing:-1px;}
	.quiz_popup .quiz_input dd {float:left; width:75%;}
	.quiz_popup .quiz_input dd input {width:100%; padding:3px; box-sizing:border-box;}
	.quiz_popup .agree_txt {height:80px; margin:10px 0; padding:10px; border:1px solid #e6e6e6; overflow-y:scroll; line-height:1.3; font-size:12px;}
	.quiz_popup .quiz_popup_check {margin:0 0 15px 0; font-size:12px; letter-spacing:-1px;}
	.quiz_popup .tit {margin:0 0 15px 0; font-size:16px; color:#0c4da2; letter-spacing:-1px; font-weight:bold; text-align:center;}
	.quiz_popup .explanation_list {height:250px; margin:0 0 20px 0; padding:10px; overflow-y:scroll; border:1px solid #ddd; box-sizing:border-box;}
	.quiz_popup .explanation_list dl {margin:0 0 10px 0; border-bottom:1px dotted #c9c9c9;}
	.quiz_popup .explanation_list dl dt {margin:0 0 10px 0; font-size:13px; font-weight:bold; letter-spacing:-1px; color:#282b31;}
	.quiz_popup .explanation_list dl dt .correct {color:#0c4da2}
	.quiz_popup .explanation_list dl dt .incorrect {color:#ed4a4a;}
	.quiz_popup .explanation_list dl dd {
		padding:0 0 10px 0; color:#666; font-size:12px; letter-spacing:-1px; line-height:1.3;
	}
	
	/* 읽어주세요. */
	.quiz_readme {padding:0 20px; overflow:hidden;}
	.quiz_readme dl {margin:0 0 15px 0;}
	.quiz_readme dl dt {margin:0 0 5px 0; color:#fdb913; font-size:16px; letter-spacing:-1px; font-weight:bold;}
	.quiz_readme dl dd {font-size:14px; letter-spacing:-1px; color:#ddd; line-height:1.3;}

	/* 지난글 보기 셀렉트 */
	.past_list_control {text-align:center; margin:0 0 25px 0;}
	.past_list_control * {vertical-align:middle;}
	.past_list_control select {padding:2px; font-size:14px;}
	.past_list_control button {padding:5px 10px; background:#2c2e32; font-size:14px; color:#fff; border-radius:4px;}

	/* 소식지 신청 팝업 */
	.newsletters_poppup {width:590px; border:4px solid #faab00; background:#fff;}
	.newsletters_poppup .popup_section {padding:30px 0 0 0;}
	.newsletters_poppup .popup_tabmenu {overflow:hidden;}
	.newsletters_poppup .popup_tabmenu li {float:left; width:50%; background:#545045; text-align:center; font-size:17px;}
	.newsletters_poppup .popup_tabmenu li a {display:block; padding:15px 0; color:#ccc; font-family:'NanumSquare';}
	.newsletters_poppup .popup_tabmenu li.current {background:#faab00} 
	.newsletters_poppup .popup_tabmenu li.current a {color:#fff;}
	.newsletters_poppup .popup_tabcont_wrap {padding:0 25px;}
	.newsletters_poppup .popup_tit {margin:0 0 30px 0; padding:0 0 10px 0; border-bottom:1px solid #e5e5e5; font-size:16px; font-weight:bold; font-family:'NanumSquare';}
	.newsletters_poppup .popup_tit strong {color:#000;}
	.newsletters_poppup .popup_form_layout {overflow:hidden;}
	.newsletters_poppup .popup_form_layout li {width:100%; overflow:hidden;}
	.newsletters_poppup .popup_form_layout li.half {float:left; width:50%;}
	.newsletters_poppup .popup_form_layout li.half:first-of-type {float:left; width:40%; margin:0 4% 0 0;}
	.newsletters_poppup .popup_form_layout li.half:last-of-type {float:left; width:56%;}
	.newsletters_poppup .popup_form_layout li .address {float:left; width:400px;}
	.newsletters_poppup .popup_form_layout label {display:block; float:left; width:60px; padding:7px 0;}
	.newsletters_poppup .popup_form_layout input[type='text'] {margin:0 0 15px 0; padding:5px; border:1px solid #ddd;}
	.newsletters_poppup p {margin:0 0 10px 0;}
	.newsletters_poppup .popup_btns {margin:25px 0 25px 0; text-align:center;}
	.newsletters_poppup .popup_btns a {display:inline-block; padding:10px 15px; font-size:15px; border-radius:2px;}
	.newsletters_poppup .popup_btns a.black {background:#4b4b4b; color:#fff; border:1px solid #4b4b4b;}
	.newsletters_poppup .popup_btns a.white {color:#666; border:1px solid #e6e6e6;}
}

