@charset "utf-8";

.naro_template {width:100%; overflow:hidden;}
.naro_template .hr {clear:both;}
img {max-width:100%; height:auto !important}


@media all and (min-width:1200px) {
	
	.naro_template .content_inner {padding:0 25px;}
	
	.naro_template .visual {margin:0 0 50px 0;}
	.naro_template .tit {margin:0 0 20px 0; color:#333; font-size:28px; line-height:1.3;}
	.naro_template .stit {margin:0 0 20px 0; color:#333; font-size:18px; line-height:1.3;}
	.naro_template  p {margin:0 0 25px 0;}
	.naro_template  dl {margin:0 0 15px 0; padding:0 0 0 25px;}
	.naro_template  dt {font-weight:bold; font-size:16px;}
	.naro_template  dd {}
	.naro_template  .indent {margin:0 0 15px 0; padding:0 0 0 25px; font-size:13px; line-height:1.4;}
	.naro_template  .caption {display:inline-block; position:relative;}
	.naro_template  .caption .caption_txt {position:absolute; bottom:0; left:0; padding:10px; background:#000; opacity: 0.75; filter: alpha(opacity =75); text-align:center; color:#fff; font-size:13px;}
	.naro_template  .caption .caption_txt.left {text-align:left;}
	.naro_template  .center {text-align:center;}
	.naro_template  .img_left {float:left; padding:0 25px 25px 0;}
	.naro_template  .img_right {float:right; padding:0 0 25px 25px;}
	.naro_template  .last {margin:0 0 50px 0;}
	.naro_template  .dialog_txt {font-size:20px; line-height:30px; color:#666; font-family: 'Nanum Myeongjo', serif; letter-spacing:-1px;}

	.naro_template .naro_table {width:100%; margin:0 0 25px 0; border-top:3px solid #fc7071; table-layout:fixed !important; border-collapse: collapse;}
	.naro_template .naro_table th {padding:12px; background:#f6f6f6; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; font-size:13px; word-break:break-all;}
	.naro_template .naro_table td {padding:12px; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; font-size:13px; word-break:break-all;  line-height:1.3;}
	.naro_template .naro_table th:last-of-type {border-right:0;}
	.naro_template .naro_table td:last-of-type {border-right:0;}
	.naro_template .naro_table td.center {text-align:center;}
	.naro_template .naro_table p {margin:0;}
	.content_info {padding:25px; background:#f0f0f0; border-top:1px solid #444;}

	.naro_template .content_box {margin:0 0 25px 0; padding:25px 25px 0 25px; background:#f9f9f9; overflow:hidden;}
	
	.naro_template .sound_list {margin:0 0 25px 0; overflow:hidden;}
	.naro_template .sound_list li {float:left; width:50%; margin:0 0 20px 0; line-height:0;}
	.naro_template .sound_list li:nth-child(even) {text-align:right;}
	.naro_template .sound {font-size:11px; color:rgb(113, 113, 113)}
	.naro_template .sound a {color:rgb(0, 0, 255);}

	.word_style_new {padding:25px 25px 0 25px;}
	.word_style_new .time {font-size:16px;}
	.word_style_new .img {float:left; width:400px;}
	.word_style_new dl {float:left; width:365px;}
	.word_style_new dt {margin:0 0 20px 0; padding:0 0 19px 0; border-bottom:1px solid #dfdcd3; font-size:16px; font-weight:bold;}
	.word_style_new dd {font-size:16px; line-height:24px;}
	.word_style_new p {clear:both; padding:25px 0 0 0; text-align:right; font-size:11px; color:##717171;}
	.word_style_new p a {color:#00f;}


}
@media all and (max-width:1199px){
	
	.naro_template .content_inner {}

	.naro_template .visual {margin:0 0 25px 0;}
	.naro_template .tit {margin:0 0 20px 0; color:#333; font-size:28px; line-height:1.3;}
	.naro_template .stit {margin:0 0 20px 0; color:#333; font-size:18px; line-height:1.3;}
	.naro_template  p {margin:0 0 25px 0;}
	.naro_template  dl {margin:0 0 15px 0; padding:0 0 0 25px;}
	.naro_template  dt {font-weight:bold; font-size:16px;}
	.naro_template  dd {}
	.naro_template  .indent {margin:0 0 15px 0; padding:0 0 0 25px; font-size:12px; line-height:1.4;}
	.naro_template  .caption {display:inline-block; position:relative;}
	.naro_template  .caption .caption_txt {position:absolute; bottom:0; left:0; padding:10px; background:#000; opacity: 0.75; filter: alpha(opacity =75); text-align:center; color:#fff; font-size:13px;}
	.naro_template  .caption .caption_txt.left {text-align:left;}
	.naro_template  .center {text-align:center;}
	.naro_template  .img_left {margin:0 0 25px 0;}
	.naro_template  .img_right {margin:0 0 25px 0;}
	.naro_template  .last {margin:0 0 50px 0;}
	.naro_template  .dialog_txt {font-size:20px; line-height:30px; color:#666; font-family: 'Nanum Myeongjo', serif; letter-spacing:-1px;}

	.naro_template .naro_table {width:100%; margin:0 0 25px 0; border-top:3px solid #fc7071; table-layout:fixed; border-collapse: collapse;}
	.naro_template .naro_table th {width:100%; padding:10px; background:#f6f6f6; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; font-size:12px; word-break:break-all; line-height:1.3;}
	.naro_template .naro_table td {width:100%; padding:10px; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; font-size:12px; word-break:break-all; line-height:1.3;}
	.naro_template .naro_table th:last-of-type {border-right:0;}
	.naro_template .naro_table td:last-of-type {border-right:0;}
	.naro_template .naro_table td.center {text-align:center;}
	.naro_template .naro_table p {margin:0;}
	.content_info {padding:25px; background:#f0f0f0; border-top:1px solid #444;}

	.naro_template .content_box {margin:0 0 25px 0; padding:25px 25px 0 25px; background:#f9f9f9; overflow:hidden;}
	
	.naro_template .sound_list {margin:0 0 25px 0; overflow:hidden;}
	.naro_template .sound_list li {float:left; width:50%; line-height:0;}
	.naro_template .sound_list li:nth-child(even) {text-align:right;}
	.naro_template .sound {font-size:11px; color:rgb(113, 113, 113)}
	.naro_template .sound a {color:rgb(0, 0, 255);}

	.word_style_new {padding:25px 25px 25px 25px;}
	.word_style_new .time {font-size:16px;}
	.word_style_new .img {margin:0 0 25px 0; text-align:center;}
	.word_style_new dl {}
	.word_style_new dt {margin:0 0 20px 0; padding:0 0 19px 0; border-bottom:1px solid #dfdcd3; font-size:16px; font-weight:bold;}
	.word_style_new dd {font-size:16px; line-height:24px;}
	.word_style_new p {clear:both; padding:25px 0 0 0; text-align:right; font-size:11px; color:##717171;}
	.word_style_new p a {color:#00f;}

	
}

.wisdom .outer_txt {color:#232323; font-weight:bold; line-height:1.3;}
.wisdom .outer_txt strong {font-size:18px;}
.wisdom .section {padding:30px;}
.wisdom .section.gray {background:#f5f5f5;}
.wisdom .keyword {width:100%; margin:0 0 30px 0;}
.wisdom .keyword dt {float:left; margin:0 30px 0 0;}
.wisdom .keyword dd {font-size:14px; line-height:1.4; color:#232323;}
.wisdom .inner_content_list {}
.wisdom .inner_content_list li {margin:0 0 30px 0; padding:30px; background:#fff; border:1px solid #e6e6e6; border-radius:4px; overflow:hidden;}
.wisdom .inner_content_list li:last-of-type {margin:0;}
.wisdom .inner_content_list li .img {width:200px;}
.wisdom .inner_content_list li .img.left {float:left; margin:0 20px 0 0;}
.wisdom .inner_content_list li .img.right{float:right; margin:0 0 0 20px;}
.wisdom .inner_content_list li .txt {}
.wisdom .inner_content_list li .txt .tit {margin:0 0 10px 0; font-size:18px;color:#232323;}
.wisdom .inner_content_list li .txt p {font-size:13px; line-height:20px;color:#232323;}
.wisdom .inner_content_list li .know {float:left; padding:20px 0 0 0;}
.wisdom .inner_content_list li .know .tit {float:left;
	display:inline-block; margin:0 7px 0 0; padding:2px 13px 2px 10px; background:#73a2b3; font-size:15px; color:#fff; font-weight:bold;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	
}
.wisdom .inner_content_list li .know .tit.red { background:#e2857d}
.wisdom .inner_content_list li .know dl {float:left; padding:4px 0 0 0; font-size:13px; line-height:20px;}
.wisdom .inner_content_list li .know dl dt {display:inline-block; margin:0 2px 0 0; font-weight:bold;color:#232323;}
.wisdom .inner_content_list li .know dl dd {display:inline-block;color:#232323;}
.wisdom .inner_content_list li .know p {font-size:13px; line-height:20px;}

/* Mobile â€“ 767px ì´í•˜ í•´ìƒë„ì—ì„œ í•´ì„í•˜ëŠ” ì½”ë“œ */
@media (max-width:500px){
	.wisdom .section {padding:20px;}
	.wisdom .outer_txt {color:#232323;}
	.wisdom .outer_txt strong {font-size:18px; line-height:1.3;}
	.inner_content_list li {margin:0 0 20px 0; padding:20px; border:1px solid #e6e6e6; border-radius:4px; overflow:hidden;}
	.inner_content_list li .img {float:none !important; width:100% !important; margin:0 0 10px 0 !important; text-align:center;}
	.inner_content_list li .img img {max-width:100%;}
	.inner_content_list li .know dl dt {display:block; font-weight:bold;}
	.inner_content_list li .know dl dd {display:block;}
}


/* TOP */
#KR_top {position:absolute ; left:0px ; top:0px ; z-index:50 ; width:100% ; height:30px ; background:url(../img/w_top_bg.png) repeat-x }
#KR_top_wrap {width:1000px ; padding-right:10px ; margin:auto}
#KR_top_wrap:after { content:"" ; display:block ; clear:both }
#KR_top_wrap > h1 , #KR_top_wrap > ul {width:40% ; height:30px}
#KR_top_wrap > h1 {float:left}
#KR_top_wrap > ul {float:right}
#KR_top_wrap > ul:after { content:"" ; display:block ; clear:both } 

#KR_top_wrap > ul > li , #KR_top_wrap > ul > li > a {font-size:12px ; line-height:30px}
#KR_top_wrap > ul > li {float:right ; padding:0px 15px ; background:url(../img/w_top_bar.png) no-repeat right center} 
#KR_top_wrap > ul > li.KR_top2 {background-image:none ; padding-right:0px}
#KR_top_wrap > ul > li > a:hover {color:#7089c2}

#KR_top_wrap > h1 > a {width:150px ; display:block ; font-size:12px ; line-height:30px}
#KR_top_wrap > h1 > a:hover {color:#7089c2}


/* HEADER */
#KR_header {
	position:absolute ; left:50% ; top:30px ; margin-left:-505px ; z-index:45 ;
	width:1000px ; padding-right:10px ;
	background:url(../img/menu_bg.png) no-repeat 0px 100px}
#KR_header > h1 {width:100% ; height:100px}
#KR_header > h1 > a { display:block ; text-indent:-9999px ; width:250px ; height:100px ; background:url(../img/w_logo.png) no-repeat left center}

/* NAVI */
#KR_MB_btn {display:none}

#KR_NAVI {width:1000px}
#KR_NAVI:after { content:"" ; display:block ; clear:both }

#KR_NAVI > #KR_NAVI_list > li > a.KR_NAVI_MP ,
#KR_menu_close {display:none} 

#KR_NAVI > #KR_NAVI_list {float:left ; width:780px ; margin-left:10px}
#KR_search {float:right ; width:200px}

#KR_NAVI > #KR_NAVI_list:after { content:"" ; display:block ; clear:both } 
#KR_NAVI > #KR_NAVI_list > li {float:left ; width:195px ; height:45px}
#KR_NAVI > #KR_NAVI_list > li > a {
	text-indent:-9999px ;
	display:block ; width:195px ; height:45px ; 
	background-image:url(../img/menu_txt.png) ;
	background-repeat:no-repeat
	}

.KR_NAVI_cell1 a { background-position:0px 0px}
.KR_NAVI_cell2 a { background-position:-195px 0px}
.KR_NAVI_cell3 a { background-position:-390px 0px}
.KR_NAVI_cell4 a { background-position:-585px 0px}

.KR_NAVI_cell1 a:hover , .KR_NAVI_cell1:hover a { background-position:0px -45px}
.KR_NAVI_cell2 a:hover , .KR_NAVI_cell2:hover a { background-position:-195px -45px}
.KR_NAVI_cell3 a:hover , .KR_NAVI_cell3:hover a { background-position:-390px -45px}
.KR_NAVI_cell4 a:hover , .KR_NAVI_cell4:hover a { background-position:-585px -45px}

#KR_NAVI > #KR_NAVI_list > li:hover {background:url(../img/menu_on_bg.png) repeat-x}


/* SEARCH */
#KR_search > form > fieldset {border:none}
#KR_search > form > fieldset > label {display:none}
#KR_search > form > fieldset > input#KR_search_txt {
	width:144px ; height:40px ; padding-left:10px ; border:none ; 
	font-size:12px ; color:#ccc ; 
	background:#000 }
#KR_search > form > fieldset > button {
	width:35px ; height:45px ; border:none ; text-indent:-9999px ; 
	background:url(../img/w_icon_search.png) no-repeat center center ; cursor:pointer }
	
li.empty_search	 {  width:100% ; margin-top:100px ; text-align:right}


/* SUB NAVI */
#KR_NAVI:hover .KR_NAVI_sub {display:block}
#KR_NAVI:hover {
	height:230px ; border-bottom:solid 1px #d4c69e ;  
	background:url(../img/menu_sub_bg.png) no-repeat 0px 48px}

.KR_NAVI_sub {display:none ; padding:15px 0px}
.KR_NAVI_sub > li {padding-left:15px}
.KR_NAVI_sub > li > a {display:block ; font-size:14px ; line-height:26px ; color:#fff }
.KR_NAVI_sub > li > a:hover {color:#eadfa4}


/* FOOTER */
#KR_footer {width:100% ; margin-top:50px ; background:url(../img/f_bg.png) repeat-x left top #e7e7e7}
#KR_footer_navi , #KR_footer_txt {width:1000px ; padding-right:10px ; margin:auto}
#KR_footer_navi {height:40px}
#KR_footer_navi:after , #KR_footer_navi > ul:after   { content:"" ; display:block ; clear:both } 
#KR_footer_navi > ul {float:left}
#KR_footer_navi > span ,
#KR_footer_navi > a {float:right ; display:block ; width:150px ; line-height:38px ; text-align:right ; color:#fff ; font-size:14px}
#KR_footer_navi > span {width:250px ; font-size:12px ; color:#eadfa4}

#KR_footer_navi > ul > li {float:left ; padding:0px 15px ; background:url(../img/f_bar.png) no-repeat right center}
#KR_footer_navi > ul > li.KR_FT_n1 {padding-left:0px}
#KR_footer_navi > ul > li.KR_FT_n6 {background:none ; padding-right:25px ; background:url(../img/f_icon.png) no-repeat right center}
#KR_footer_navi > ul > li > a {font-size:14px ; color:#fff ; line-height:38px}
#KR_footer_navi > ul > li > a:hover , #KR_footer_navi > a:hover {color:#eadfa4}

#KR_footer_txt {padding-top:25px ; padding-bottom:30px}
#KR_footer_txt:after , #KR_foot_sns > ul:after { content:"" ; display:block ; clear:both } 

#KR_address  {
	float:left  ; width:550px ; padding-left:90px ;
	font-size:13px ; line-height:20px ; 
	background:url(../img/f_logo.png) no-repeat left center
	}
#KR_foot_sns {float:right ; width:250px}
#KR_foot_sns > ul > li {float:right ; height:40px ; }
#KR_foot_sns > ul > li > a {display:block ; width:100% ; height:100% ; background-image:url(../img/f_sns.png) ; background-repeat:no-repeat ; text-indent:-9999px}
.KR_foot_sns1 {width:95px ; margin-right:15px}
.KR_foot_sns2 {width:39px ; margin-right:7px}
.KR_foot_sns3 {width:39px ; margin-right:7px}
.KR_foot_sns4 {width:39px }

.KR_foot_sns1 > a { background-position:0px 0px }
.KR_foot_sns2 > a { background-position:-108px 0px }
.KR_foot_sns3 > a { background-position:-153px 0px }
.KR_foot_sns4 > a { background-position:-198px 0px }



/** 메인 페이지 *****************************************************************************************************/

/* BODY */
#KR_wrap {width:1010px ; margin:auto ; padding-top:190px}
#KR_wrap:after { content:"" ; display:block ; clear:both } 
#KR_wrap_left  { float:left  ; width:390px }
#KR_wrap_right { float:right ; width:580px }

/* VISUAL */
#KR_visual {width:100% ; height:290px ; margin-bottom:40px; visibility: hidden;}

/* NEW CONTENTS */
#KR_New {width:100% ; margin-bottom:50px}
#KR_New > h2 {width:100% ; height:30px ; text-indent:-9999px ; background:url(../img/m_title_new.png) no-repeat left top}
.KR_new_hit {background:#fef6f9}
.KR_new_hit > li {padding:0px 10px ; border-bottom:solid 1px #d8d1d4}
.KR_new_hit > li:after { content:"" ; display:block ; clear:both } 
.KR_new_hit > li > a {font-size:14px ; color:#333 ; line-height:26px ; font-weight:normal}
.KR_new_hit > li > a:hover {color:#b0165a}
.KR_new_hit > li b {float:right ; font-size:12px ; color:#999 ; line-height:26px ; font-weight:normal}

/* HIT CONTENTS */
#KR_Hit {width:100% ; margin-bottom:50px}
#KR_Hit > h2 {width:100% ; height:30px ; text-indent:-9999px ; background:url(../img/m_title_hit.png) no-repeat left top}
 #KR_Hit > .KR_new_hit > li:first-child {display:none}  

/* 우리말 달인 배너 */
#KR_quiz {width:390px ; margin-bottom:50px}
#KR_quiz > ul {display:block ; margin-top:14px}
#KR_quiz > ul:after { content:"" ; display:block ; clear:both } 
#KR_quiz > ul > li {width:185px }
#KR_quiz > ul > li > a {display:block ; width:185px ; height:41px ; background-position:0px 0px ; background-repeat:no-repeat ; text-indent:-9999px}
#KR_quiz > ul > li.KR_quiz_bnr1 {float:left}
#KR_quiz > ul > li.KR_quiz_bnr2 {float:right}
#KR_quiz > ul > li.KR_quiz_bnr1 > a {background-image:url(../img/m_btn_1.png)}
#KR_quiz > ul > li.KR_quiz_bnr2 > a {background-image:url(../img/m_btn_2_new.png)}

/* 갈무리할 우리말 */
#KR_CTNS1 {width:570px ; margin-right:10px ; margin-bottom:50px}
#KR_CTNS1:after { content:"" ; display:block ; clear:both } 
#KR_CTNS1 > h2 , #KR_CTNS1 > h2 > a {width:100% ; height:30px}
#KR_CTNS1 > h2 {margin-bottom:5px}
#KR_CTNS1 > h2 > a {display:block ; background:url(../img/m_title4.png) no-repeat left top ; text-indent:-9999px}
#KR_CTNS1 > ul > li {float:left ; background-position:left top ; background-repeat:no-repeat}
#KR_CTNS1 > ul > li:after , #KR_CTNS1 > ul:after { content:"" ; display:block ; clear:both } 

.KR_c1_bnr1 {width:290px ; height:100px ; margin-right:10px ; margin-bottom:10px ; background-image:url(../img/m_bnr_bg1_new.jpg) }
.KR_c1_bnr2 {display:table; width:270px ; height:100px ; margin-bottom:10px; background-image:url(../img/m_bnr_bg2_new.jpg) }
.KR_c1_bnr2 a {display:table-cell; text-align:center; vertical-align:middle; line-height:26px ; font-size:20px ; color:#786026 ; font-weight:600}
.KR_c1_bnr3 {width:290px ; height:100px ; margin-right:10px}
.KR_c1_bnr4 {width:270px ; height:100px ; background-image:url(../img/m_bnr_bg4_new.jpg) ; text-align:center}
 
.KR_c1_bnr1 > .KR_c1_bnr1_cell1 {width:155px ; height:25px ; line-height:25px ; padding-top:2px; font-size:10px ; color:#fff ; text-align: right}
.KR_c1_bnr1 > .KR_c1_bnr1_cell2 {width:100% ; height:60px ; text-align:center ; padding-top:10px}
.KR_c1_bnr1 > .KR_c1_bnr1_cell2 > a {line-height:26px ; font-size:20px ; color:#786026 ; font-weight:600}
.KR_c1_bnr1 > .KR_c1_bnr1_cell3 {padding:0px 12px ; font-size:12px ; line-height:19px ; color:#464646 ; text-align:left ; }

.KR_c1_bnr4 > a {display:block ; width:100% ; margin-top:44px ; font-size:20px ; font-weight:600 ; color:#493915 }


/* 궁금한 우리말 */
.KR_right_p2 {width:580px ; background:url(../img/m_ctns_sh1.png) no-repeat left bottom}
.KR_right_p2 > h2 , #KR_CTNS2 > h2 > a {width:100% ; height:30px ; }
.KR_right_p2 > h2 {margin-bottom:5px}
#KR_CTNS2 {margin-bottom:25px}
#KR_CTNS2 > h2 > a {display:block ; background:url(../img/m_title1.png) no-repeat left top ; text-indent:-9999px}

.KR_right_p2_list {width:100% ; padding-bottom:20px}
.KR_right_p2_list:after { content:"" ; display:block ; clear:both } 
.KR_right_p2_list > li {float:left ; width:265px ; margin-right:20px}

.KR_right_p2_cell {width:100%}
.KR_right_p2_cell > .KR_right_p2_cell1 img {
	width:263px ; height:148px ; border:solid 1px #CCC ;
    border-radius:8px ;
	-webkit-border-radius:8px ;
	-moz-border-radius:8px ;
	-ms-border-radius:8px ;
	-o- border-radius:8px }

.KR_right_p2_cell > .KR_right_p2_cell2 ,
.KR_right_p2_cell > .KR_right_p2_cell2 > a {word-break:keep-all}	
.KR_right_p2_cell > .KR_right_p2_cell2 {height:59px ; border-bottom:solid 1px #e5e5e5 ; text-align:center}
.KR_right_p2_cell > .KR_right_p2_cell2 > a {display:block ; font-size:14px ; line-height:18px ; color:#373737 ; text-align:center ; padding:3px 0px}
.KR_right_p2_cell > .KR_right_p2_cell2 > a:hover {color:#1846af}
.KR_right_p2_cell > .KR_right_p2_cell3 {height:20px ; border-bottom:solid 2px #999}
.KR_right_p2_cell > .KR_right_p2_cell3 > ul:after { content:"" ; display:block ; clear:both } 
.KR_right_p2_cell > .KR_right_p2_cell3 > ul > li {font-size:11px ; line-height:18px}
.KR_right_p2_cell3_date {float:left ; text-align:left ; padding-left:5px}
.KR_right_p2_cell3_hit  {float:right ; text-align:right ; padding-right:5px}
.KR_right_p2_cell > .KR_right_p2_cell4 {text-align:right ; padding:3px 5px ; font-size:11px ; border-bottom:solid 1px #d7d7d7}


/* 놀라운 우리말 */
.KR_right_p3 {width:580px ; background:url(../img/m_ctns_sh2.png) no-repeat left bottom}
.KR_right_p3 > h2 , #KR_CTNS3 > h2 > a {width:100% ; height:30px}
.KR_right_p3 > h2 {margin-bottom:5px}
#KR_CTNS3 {margin-bottom:25px} 
#KR_CTNS3 > h2 > a {display:block ; background:url(../img/m_title2.png) no-repeat left top ; text-indent:-9999px}

.KR_right_p3_list {width:100% ; padding-bottom:20px}
.KR_right_p3_list:after { content:"" ; display:block ; clear:both } 
.KR_right_p3_list > li {float:left ; width:175px ; margin-right:15px}

.KR_right_p3_cell {width:100%}
.KR_right_p3_cell > .KR_right_p3_cell1 img {
	width:173px ; height:93px  ; border:solid 1px #CCC ;
    border-radius:8px ;
	-webkit-border-radius:8px ;
	-moz-border-radius:8px ;
	-ms-border-radius:8px ;
	-o- border-radius:8px } 
	
.KR_right_p3_cell > .KR_right_p3_cell2 {height:59px ; border-bottom:solid 1px #e5e5e5}
.KR_right_p3_cell > .KR_right_p3_cell2 > a {
	display:block ; font-size:14px ; line-height:18px ; color:#373737 ; text-align:center ; padding:3px 0px ;
	word-break:keep-all
	}
.KR_right_p3_cell > .KR_right_p3_cell2 > a:hover {color:#1846af}
.KR_right_p3_cell > .KR_right_p3_cell3 {height:20px ; border-bottom:solid 2px #999}
.KR_right_p3_cell > .KR_right_p3_cell3 > ul:after { content:"" ; display:block ; clear:both } 
.KR_right_p3_cell > .KR_right_p3_cell3 > ul > li {font-size:11px ; line-height:18px}
.KR_right_p3_cell3_date {float:left ; text-align:left ; padding-left:5px}
.KR_right_p3_cell3_hit  {float:right ; text-align:right ; padding-right:5px}
.KR_right_p3_cell > .KR_right_p3_cell4 {text-align:right ; padding:3px 5px ; font-size:11px ; border-bottom:solid 1px #d7d7d7}


/* 쉬어가는 우리말 */ 

#KR_CTNS4 > h2 > a {
	width:100% ; height:30px ;
	display:block ; background:url(../img/m_title3.png) no-repeat left top ; text-indent:-9999px
	}


/** 서브 페이지 *****************************************************************************************************/


/* 외국어통신 원고모집 */
#ma_write {display:none}


#KRsub_url  {
	float:left ; width:815px ; height:28px ; line-height:28px ; margin-bottom:10px ; margin-right:185px ;
	border-top:solid 1px #ddd ; border-bottom:solid 1px #ccc ; 
	font-size:11px ; color:#6d6d6d  }

 
	
#KRsub_ctns {float:left ; width:815px}
#KRsub_bnr  {float:right ; width:165px ; padding-right:10px}


/* 서브 컨텐츠 */
.post_body {margin:0 auto 25px auto; font-size:14px; color:#595959 ; line-height:1.5}
.user-info2 {background:#efefef ; border-top:solid 1px #444 ; padding:20px}
.user-info2 strong {font-weight:600}




/* 컨텐츠 목록 */
#KRsub_list {width:100%; clear:both}
#KRsub_list > h3 {
	font-size:16px ; font-weight:600 ; color:#796a3a ; border-bottom:solid 2px #c4b37b ;
	padding-bottom:8px ; margin-bottom:3px  }
#KRsub_list > ul {width:100% ; margin-bottom:15px}
#KRsub_list > ul > li {border-bottom:solid 1px #d7d7d7 ; padding:7px 20px}
#KRsub_list > ul > li > a {display:block ; font-size:12px ; color:#595959 ; line-height:16px}
#KRsub_list > ul > li.KRsub_list_now {background:url(../img/sub_icon_now.png) no-repeat 10px 50%}
#KRsub_list > ul > li > a:hover {color:#746121}


/* 페이지 번호 */
#KRsub_list_page {width:100%}  
#KRsub_list_page .wp-pagenavi:after { content:"" ; display:block ; clear:both } 
#KRsub_list_page .wp-pagenavi > span ,
#KRsub_list_page .wp-pagenavi > a {display:block ; float:left ; border:solid 1px #d7d7d7 ; margin:1px ; padding:7px ; font-size:14px}

#KRsub_list_page .wp-pagenavi > a:hover {color:#f60}
#KRsub_list_page .wp-pagenavi > span ,
#KRsub_list_page .wp-pagenavi > span > strong {font-weight:600 ; color:#f60}

#KRsub_list_page a.first , #KRsub_list_page a.last , 
#KRsub_list_page a.nextpostslink ,
#KRsub_list_page a.previouspostslink {display:block ; width:40px ; float:left ; padding:8px 0px ; border-right:none ; text-indent:-9999px }

#KRsub_list_page a.first  { background:url(../img/pno_btn_home.png) no-repeat center center}
#KRsub_list_page a.last { background:url(../img/pno_btn_end.png) no-repeat center center}
#KRsub_list_page a.nextpostslink { background:url(../img/pno_btn_next10.png) no-repeat center center}
#KRsub_list_page a.previouspostslink { background:url(../img/pno_btn_prev10.png) no-repeat center center}

#KRsub_list_page .wp-pagenavi > a.previouspostslink ,
#KRsub_list_page .wp-pagenavi > a.nextpostslink ,
#KRsub_list_page .wp-pagenavi > a.last ,
#KRsub_list_page .wp-pagenavi > a.first {border:none} 



/*
#KRsub_list_page > table td ,
#KRsub_list_page > table td strong ,
#KRsub_list_page > table td  a{font-size:14px}
#KRsub_list_page > table td   {color:#aaa}
#KRsub_list_page > table td strong {color:#f60 ; font-weight:600}
#KRsub_list_page > table td a {color:#444}
#KRsub_list_page > table td a:hover {color:#f60}


#KRsub_list_page .wp-pagenavi,
#KRsub_list_page .wp-pagenavi strong ,
#KRsub_list_page .wp-pagenavi a{font-size:14px}
#KRsub_list_page .wp-pagenavi  {color:#aaa}
#KRsub_list_page .wp-pagenavi strong {color:#f60 ; font-weight:600}
#KRsub_list_page .wp-pagenavi a {color:#444}
#KRsub_list_page .wp-pagenavi a:hover {color:#f60}
#KRsub_list_page .wp-pagenavi, div {}
*/

/*Prev & Next*/
.KRsub_list_page_prve {padding-right:10px}
.KRsub_list_page_next {padding-left:15px}

.KRsub_list_page_prve > a  , .KRsub_list_page_next > a {
	display:block ; width:17px ; height:15px ; text-indent:-9999px ; 
	background-repeat:no-repeat ; background-position:center center  }
.KRsub_list_page_prve > a {background-image:url(../img/pno_btn_home.png)}
.KRsub_list_page_next > a {background-image:url(../img/pno_btn_end.png)}



/* 기타기능 */
#KRsub_etc {width:100% ; margin-top:50px}


/* 우측 갈무리할 우리말 배너 */
#KRsub_banner {margin-bottom:10px}
#KRsub_banner , #KRsub_banner > ul {width:100%}
#KRsub_banner > ul > li {
	width:165px ; height:85px ; margin-bottom:5px ;
	background-position:left top ; background-repeat:no-repeat 	}
#KRsub_banner > ul > li > a {display:block}
.KRsub_c1_bnr1 {background-image:url(../img/sub_right_01_160202.jpg)} 
.KRsub_c1_bnr2 {background-image:url(../img/sub_right_02.jpg)} 
.KRsub_c1_bnr2 a {width:100% ; font-size:18px ; line-height:30px ; font-weight:600 ; color:#493915 ; padding-top:30px ; text-align:center }
.KRsub_c1_bnr4 {background-image:url(../img/sub_right_04_160202.jpg)}

.KRsub_c1_bnr1 > .KRsub_c1_bnr1_cell1 {width:150px ; height:26px ; padding-top:2px; line-height:26px ; font-size:10px ; color:#fff; text-align: right;}
.KRsub_c1_bnr1 > .KRsub_c1_bnr1_cell2 {width:100% ; text-align:center }
.KRsub_c1_bnr1 > .KRsub_c1_bnr1_cell2  > a {line-height:24px ; font-size:16px ; color:#786026 ; font-weight:600 ; padding:0px 5px}
 
.KRsub_c1_bnr4 > a {width:100% ; font-size:18px ; line-height:30px ; font-weight:600 ; color:#493915 ; padding-top:30px ; text-align:center }


/* SNS */
body.customize-support #KRsub_sns {display:block}
#KRsub_sns {display:none}
#KRsub_sns {margin-bottom:10px}
#KRsub_sns , #KRsub_sns > ul {width:100%}
#KRsub_sns > ul:after { content:"" ; display:block ; clear:both } 
#KRsub_sns > ul > li {float:left}
#KRsub_sns > ul > li > a {
	display:block ; width:100% ; height:100% ; text-indent:-9999px ;
	background-repeat:no-repeat ; background-image:url(../img/sub_sns.png) }
	
.KRsub_sns1 , 
.KRsub_sns2 , 
.KRsub_sns3 ,  
.KRsub_sns4 { width:29px ; height:30px }
.KRsub_sns5 { width:43px ; height:30px ; margin-left:5px}

#KRsub_sns > ul > li.KRsub_sns5  {float:right}

.KRsub_sns1 > a { background-position:0px 0px }
.KRsub_sns2 > a { background-position:-29px 0px } 
.KRsub_sns3 > a { background-position:-58px 0px }
.KRsub_sns4 > a { background-position:-87px 0px }
.KRsub_sns5 > a { background-position:-117px 0px }


/* 구독신청 */
#KRsub_app {margin-bottom:0px}
#KRsub_app , #KRsub_app > form {width:100%}
#KRsub_app > form > fieldset {border:none}
#KRsub_app > form > fieldset > label {display:none}
.KRsub_app_input {width:153px ; padding:5px ; font-size:11px ; color:#999 ; border:solid 1px #ccc}
.KRsub_app_input:focus {color:#444}
#KRsub_ma {margin-bottom:20px}


/* 새로운글 */
#KRsub_new , #KRsub_new > ul {width:100%}
#KRsub_new > h6 {width:100% ; height:30px ; background:url(../img/sub_new_title.png) ; text-indent:-9999px ; margin-bottom:3px}
#KRsub_new > ul > li {padding:7px 5px ; border-bottom:solid 1px #d7d7d7}
#KRsub_new > ul > li > a {display:block ; font-size:11px ; line-height:14px}
#KRsub_new > ul > li > a:hover {color:#b0165a}
#KRsub_new > ul > li ,
#KRsub_new > ul > li > a {word-break:keep-all}


/** 갤러리 *****************************************************************************************************/

#KRsub_galley {width:100% ; margin-bottom:20px}
.KRsub_galley_list {width:100%}
.KRsub_galley_list:after { content:"" ; display:block ; clear:both } 
.KRsub_galley_list > li {float:left ; width:255px ; margin-right:10px ; margin-bottom:40px}
.KRsub_galley_list > li:hover .KRsub_gl_cell2 > a {color:#1846af}
.KRsub_galley_list > li:nth-child(3) ,
.KRsub_galley_list > li:nth-child(6),
.KRsub_galley_list > li:nth-child(9) {margin-right:0px}
.KRsub_galley_list > li:nth-child(1) ,
.KRsub_galley_list > li:nth-child(2) ,
.KRsub_galley_list > li:nth-child(4) ,
.KRsub_galley_list > li:nth-child(5) ,
.KRsub_galley_list > li:nth-child(7) ,
.KRsub_galley_list > li:nth-child(8){margin-right:25px}

.KRsub_gl_cell {width:100%}
.KRsub_gl_cell > li {width:100%} 
.KRsub_gl_cell1 img {
	width:253px ; height:143px !important; border:solid 1px #CCC ;
    border-radius:8px ;
	-webkit-border-radius:8px ;
	-moz-border-radius:8px ;
	-ms-border-radius:8px ;
	-o- border-radius:8px }
 
.KRsub_gl_cell2 , 
.KRsub_gl_cell2 > a {word-break:keep-all}
.KRsub_gl_cell2 {display:table;}
.KRsub_gl_cell2 a {display:table-cell; vertical-align:middle;}
 
.KRsub_gl_cell2 > a {
	display: table-cell;
	width:100%;
	height: 90px;
	margin:5px 0px;
	text-align:center;
	font-size:18px;
	line-height:22px;
	color:#373737;
	}
.KRsub_gl_cell2 > a:hover {color:#1846af}
	
	
.KRsub_gl_cell3 {border-top:solid 1px #ddd ; border-bottom:solid 1px #ccc ; padding:6px 3px}
.KRsub_gl_cell3 > ul:after { content:"" ; display:block ; clear:both } 
.KRsub_gl_cell3 > ul > li {font-size:11px ; color:#595959}

.KRsub_gl_cell_date {float:left}
.KRsub_gl_cell_hit  {float:right} 	



/** 이전호 보기 *****************************************************************************************************/

#KRsub_history  {float:right ; width:165px ; padding-right:10px}
#KRsub_his_year {width:100% ; margin-bottom:5px}
#KRsub_his_year > select {width:100% ; padding:5px ; border:solid 1px #ccc}
#KRsub_his_month {width:100% ; margin-bottom:50px}
#KRsub_his_month > h2 {
	width:90% ; padding:0px 5% ; height:30px ; line-height:30px ; background:#f49ec4 ; 
	font-size:14px ; font-weight:600 ; color:#fff ;
	border-radius:5px 5px 0px 0px ;
	-webkit-border-radius:5px 5px 0px 0px ;
	-moz-border-radius:5px 5px 0px 0px ;
	-ms-border-radius:5px 5px 0px 0px ;
	-o- border-radius:5px 5px 0px 0px  }
	
#KRsub_his_month > ul > li {padding:5px ; border-bottom:solid 1px #d7d7d7}	
#KRsub_his_month > ul > li > a {display:block ; font-size:12px}
#KRsub_his_month > ul > li > a:hover {color:#b0165a}


/** 퀴즈 *****************************************************************************************************/
div.wpProQuiz_content {top:0px ; right:0px}






/*btn-sns*/
.btn-sns > .sns-facebook{
	float: left;
	height: 24px;
	margin-top: -5px;
}

.btn-sns > .sns-twitter{
	height: 24px;
	margin-left: 7px;
}


/*Flexslide*/
 
div.flexslider { 
	border-radius:10px ;
	-webkit-border-radius:10px ;
	-moz-border-radius:10px ;
	-ms-border-radius:10px ;
	-o- border-radius:10px ;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
overflow: hidden;
}


/*이메일 보내기*/
#pop-up-email { display: none; }
.button.b-close {
  color: rgb(255, 255, 255); cursor: pointer; text-align: center;
  position: absolute;
  display: block;
  top: 9px;
  right: 5px;
  width: 20px;
  height: 20px;
  text-indent: -9999em;
  cursor: pointer;
  background: url(../images/common/btnclose.png) no-repeat center center;
}

.sendmail {width:280px;height:420px;background:#fff;}
.sendmail h1 {font-size:16px;background:#6a6b6c url(../images/common/sendmail.png) no-repeat 10px 6px;padding:10px 0 10px 0px; text-align: center; color:#fff;margin-bottom:10px;}
.sendmail fieldset {display:block;overflow:hidden;padding:8px 0;}
.sendmail fieldset label {font-size:16px;font-weight:bold;color:#474747;cursor:default;display:block;padding-bottom:9px;padding-left:10px;}
.sendmail fieldset .inp, .sendmail fieldset .inp_txt
{font-size:1.2em;color:#848589;border:1px solid #96979a;border-bottom:1px solid #b6b7ba;padding:5px;margin-bottom:12px;width:90%;margin:0 auto;display:block;
  outline:none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.sendmail fieldset .inp_txt{height:80px;}
.sendmail fieldset em {color:#898989;font-size:1em;padding-left:10px;display:block;line-height:1.4;padding-top:10px;}
.sendmail .btns {text-align:center;}
.sendmail .btn {outline: none;cursor: pointer;text-align: center;text-decoration: none;font-size:1.2em;font-weight:bold;padding: .5em .5em .55em;text-shadow: 0 1px 1px #e3e3e3;margin-bottom:2px;
  color: #555;
  border: solid 1px #adadad;
  background: #bfbfbf;
  background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#aeaeae));
  background: -moz-linear-gradient(top,  #cacaca,  #aeaeae);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cacaca', endColorstr='#aeaeae');

  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin:0 auto;
}


/** 목록형식 *****************************************************************************************************/	
#KRsub_galley_list {width:100% ; margin-bottom:20px}
#KRsub_galley_list > .KRsub_galley_list {width:100%}
#KRsub_galley_list > .KRsub_galley_list > li {
	float:left ; width:100% ; border-bottom:solid 1px #d7d7d7 ; margin:0px ; padding:15px 0px } 	
#KRsub_galley_list > .KRsub_galley_list > .KRsub_gl_cell {width:100%}
#KRsub_galley_list .KRsub_gl_cell > li {float:left}

#KRsub_galley_list .KRsub_gl_cell1 ,
#KRsub_galley_list .KRsub_gl_cell2 ,
#KRsub_galley_list .KRsub_gl_cell3 {margin:0px ; padding:0px ; text-align:left}

#KRsub_galley_list .KRsub_gl_cell1 {display:none}
#KRsub_galley_list .KRsub_gl_cell2 {width:685px ; padding-bottom:10px ; margin-left:15px ; }
#KRsub_galley_list .KRsub_gl_cell3 {width:685px ; height:20px ; margin-left:15px ; border:none}

#KRsub_galley_list .KRsub_gl_cell2 > a { 
    height:auto ; min-height:0px ;
    text-align:left ; width:100% ; padding-right:100px ; line-height:24px ;
	background:url(../img/list_icon_zoom.png) no-repeat top right}
#KRsub_galley_list .KRsub_gl_cell3 > ul > li {float:left}
#KRsub_galley_list .KRsub_gl_cell_date {margin-right:20px}
#KRsub_galley_list .KRsub_gl_cell_hit  {margin-left:20px}




/* 단어장 */
.post_body .user-col2  {float:left ; width:50%}
.post_body .user-col2 p {font-size:16px ; line-height:24px ; text-align:justify}
.post_body .user-p {float:left ; width:100%}
.post_body .KR_word_txt {float:left ; width:100% ; margin-top:30px ; padding-bottom:40px ; color:#717171 ; font-size:11px ; text-align:right}
.post_body .KR_word_txt a {color:#00f}
.post_body .KR_word_bar {
	font-size:16px ; font-weight:600 ; border-bottom:solid 1px #dfdcd3 ; 
	padding-top:44px ; padding-bottom:15px ; margin-bottom:20px}
	
.post_body .user-p center {text-align:right}



/*  메인 썸네일  */
#KRsub_new a br ,
.KRsub_gl_cell2 a br ,
.KRsub_url br ,
.KRsub_c1_bnr1 a br ,
.KRsub_c1_bnr3 a br ,
.KR_new_hit a br ,
.KRsub_list_now a br {display:none}



/*메인 모달 팝업*/


.remodal.modal1 { max-width: 840px }
.remodal.modal2 { max-width: 390px }
.remodal.modal3 { max-width: 670px }
.remodal.modal4 { max-width: 470px }
.remodal.modal5 { max-width: 545px }
.remodal.modal6 { max-width: 340px }
.remodal.modal7 { max-width: 550px }
.remodal.modal9 { max-width: 790px }


/* Hide scroll bar */
html.remodal-is-locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}
/* Anti FOUC */

.remodal,
[data-remodal-id] {
    display: none;
}
/* Necessary styles of the overlay */

.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none;
}
/* Necessary styles of the wrapper */

.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
}
.remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
}
/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/* Necessary styles of the modal dialog */

.remodal {
    position: relative;
    outline: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
.remodal-is-initialized {
    /* Disable Anti-FOUC */
    display: inline-block;
}
/*
 *  Remodal - v1.1.0
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
/* Default theme styles of the overlay */

.remodal-overlay {
    background: rgba(43, 46, 56, 0.9);
}
.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.remodal-overlay.remodal-is-opening {
    -webkit-animation-name: remodal-overlay-opening-keyframes;
    animation-name: remodal-overlay-opening-keyframes;
}
.remodal-overlay.remodal-is-closing {
    -webkit-animation-name: remodal-overlay-closing-keyframes;
    animation-name: remodal-overlay-closing-keyframes;
}
/* Default theme styles of the wrapper */

.remodal-wrapper {
    padding: 10px 10px 0;
}
/* Default theme styles of the modal dialog */

.remodal {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    /* padding: 35px; */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #2b2e38;
    background: #fff;
}
.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.remodal.remodal-is-opening {
    -webkit-animation-name: remodal-opening-keyframes;
    animation-name: remodal-opening-keyframes;
}
.remodal.remodal-is-closing {
    -webkit-animation-name: remodal-closing-keyframes;
    animation-name: remodal-closing-keyframes;
}
/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
    vertical-align: middle;
    text-align: left;
}
/* Close button */

.remodal-close {
    position: absolute;
    top: 14px;
    right: 0px;
    display: block;
    overflow: visible;
    width: 47px;
    height: 47px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
    color: #95979c;
    border: 0;
    outline: 0;
    background: url("../image/common/w_pop_close.gif") no-repeat;
}
@media all and (max-width: 800px) {
/*    .remodal-close {
        position: absolute;
        top: -2px;
        right: 0px;
        display: block;
        overflow: visible;
        width: 47px;
        height: 47px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        text-decoration: none;
        color: #95979c;
        border: 0;
        outline: 0;
        background: url("../image/common/m_pop_close.png") no-repeat 50% 50%;
        background-size: 19px 19px;
    }*/
}
/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
    font: inherit;
    display: inline-block;
    overflow: visible;
    min-width: 110px;
    margin: 0;
    padding: 12px 0;
    cursor: pointer;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 0;
    outline: 0;
}
.remodal-confirm {
    color: #fff;
    background: #81c784;
}
.remodal-confirm:hover,
.remodal-confirm:focus {
    background: #66bb6a;
}
.remodal-cancel {
    color: #fff;
    background: #e57373;
}
.remodal-cancel:hover,
.remodal-cancel:focus {
    background: #ef5350;
}
/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
    padding: 0;
    border: 0;
}
/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0;
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0;
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
    }
}
@keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
    }
}
@-webkit-keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 700px;
    }
}
/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
    background: #2b2e38;
}
.lt-ie9 .remodal {
    width: 700px;
}

.ie8 .remodal-overlay {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e62b2e38, endColorstr=#e62b2e38);
}

.pop-ft{position: relative;vertical-align: middle;text-align: center;margin-bottom: 30px;}
.btn1.upload { color: #ffffff; background: #3b5999; padding: 8px 10px; display: inline-block; white-space: nowrap; width: 100px; font-size: 15px; font-family:"nanumb"; box-sizing: border-box; text-align: center; height: 32px; }

/*pop*/
#pop-content { padding: 30px 30px 0; }
#pop-content .tbl1 { width: 100% }
.pop-head { padding: 14px 29px; background: #3b5999; }
.pop-head h2 { color: #ffffff !important; font-family:"nanumb" !important; font-size: 15px; padding: 0px; border-bottom: none; margin-bottom: 0; width: 100%; float: none; }
#pop-content h3 { font-size: 14px; color: #555;font-family:"nanumb"; background: none; padding-left: 0; margin-bottom: 20px; }
#pop-content .rel-pos { /* padding-top: 10px; */ }
#pop-content .info-area2 { margin-bottom: 30px; }

.hide-text { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; height: 0; left: -5000px; line-height: 0; overflow: hidden; position: absolute; text-indent: -999em; width: 0 }